/*=My Account==================================================*/
html .woocommerce-account{
	.woocommerce-MyAccount-navigation{
		margin-bottom:30px;
		width:25%;
		ul{
			padding:0;
			margin:0;
			list-style:none;
			li{
				a{
					@include changeColor($main_text_color, $colorPrimary);
					text-transform:capitalize;
				}		
				&+li{
					border-top:1px solid #dee5e9;
					padding-top: 15px;
					margin-top: 10px;
				}
			}
		}
	}
	.wd-myaccount-content-wrapper {
	   float: left;
	   padding-right: 30px;
	   padding-left:0;
	   width: 75%;
	   p{
	   	margin-bottom: 20px;
	   }
	   .woocommerce-MyAccount-orders.my_account_orders{
	   		border-radius:0;
	   		th, td{
	   			padding:20px;
	   			font-size: 13px;
	   		}
	   }
	   .button{
   			@extend %hover_button;
   		}
   		.woocommerce-Address{
   			header{
   				.edit{
   					position: relative;
   					&:before{
   						margin-right: 5px;
						content: "\f040";
					    font-family: FontAwesome;
					    font-style: normal;
					    font-weight: normal;
					    text-decoration: inherit;
					    font-size: 13px;
   					}
   				}
   			}
   			address{
   				line-height: 25px;
   			}
   		}
	}
}
/*====================== WISHLIST ==================*/
html .woocommerce{
	table.wishlist_table{
		border:none;
		margin:0 0 30px;
		border-radius:0;
		font-size:100%;
		border-collapse: collapse;
		@media only screen and (max-width: 767px){
			border:none;
		}	
		thead{
			@media only screen and (max-width: 767px){
				display:none;
			}	
			tr{
				th{
					background:#212121;
					text-transform:uppercase;
					color:#fff;
					text-align:center;
					padding:12px;
					border:1px solid $main_line_color;
				}
			}
		}
		tbody{
			tr{
				@media only screen and (max-width: 767px){
					display:block;
				}
				td{
					@media only screen and (max-width: 767px){
						display:block;
						text-align:right;
						width:100%!important;
						border: none;
						border-bottom: 1px solid $main_line_color;
						&:before{
							content: attr(data-title) " ";
							color:$main_title_color;
							float: left;
							margin-right: 15px;
						}
					}
					padding:30px;
					border:1px solid $main_line_color;
					width:20%;
					&.product-thumbnail{
						width:15%;
						a{
							max-width:100%;
							img{width:auto;}
						}
					}
					&.product-name{
						a{
							text-transform:uppercase;
							@include changeColor($main_title_color, $colorPrimary);
						}
						dl.variation{
							dt{font-weight:400;}
							dd{margin-bottom:5px;}
						}
					}
					&.product-price, &.product-subtotal{
						.amount{
							font-weight: 500;
							color:$main_title_color;
						}
					}
					&.product-stock-status{
						.wishlist-in-stock{
							display:inline-block;
							text-transform:uppercase;
							padding:5px 25px;							
							background:#212121;
							color:#fff;
						}
					}
					&.product-remove{
						width:5%;
						a.remove{
							font-size:0;
							height: auto;
							width: auto;
							background: none;
							&:before{
								@include font-awesome(\f057, 20px);
								color:$main_title_color;
							}
						}
					}
					&.product-add-to-cart{
						a.button{							
							font-weight: 500;
							color:#fff;
							background:#212121;
							padding:11px 18px;
							margin-bottom:0;
							border-radius: 0;
							border:solid 2px #212121;
							&:hover{
								background:#fff !important;
								color:#212121 !important;
							}
						}
						a{
							&:before, &:after{
								display:none;
							}
						}
					}
				}
			}
		}
	}
}