
%dropdown{
	position:absolute;
	background-color:$header_bg_cart_color;
	visibility:hidden;
	@include box-shadow(0 0px 7px #ccc);
	@include opacity(0) ;
	border:1px solid #ccc;
	padding:$var_space;
	min-width:300px;
	text-align:left;	
	z-index:200;
}
.wd-header-top{
	line-height: 50px;
	.wpb_column{
		margin: 0;
		.wpb_wrapper{
			font-weight: 500;
			font-size: 11px;
			color: #fff;
		}
		&:nth-child(1){
			.wpb_wrapper{
				text-align: right;
			}
		}
		&:nth-child(2){
			.vc_column-inner{
				margin: auto;
			    width: 100%;
			}
			@media (min-width: 1200px){
		    	.vc_column-inner{
					margin: auto;
				    width: 74%;
				}
		    }
			.wpb_wrapper{
				border-left: 1px solid $colo-282828;
				border-right: 1px solid $colo-282828;
			}
		}
		&:nth-child(3){
			.wpb_wrapper{
				text-align: left;
			}
		}
	}


}
.form_drop_down.drop_down_container{
	.form_wrapper_footer{
		text-align: center;
		a{
			text-decoration: underline !important;
		}
	}
}
.shopping-cart{
	-webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
    width: auto;
    margin-right: 0;
    .wd_tini_cart_wrapper{
	    padding-left: 15px;
	    margin: 0 0 0 10px;
	    position: relative;
    	&:before{
		    content: "";
		    background: #dbdbdb;
		    height: 15px;
		    width: 1px;
		    display: inline-block;
		    position: absolute;
		    top: 5px;
		    left: 0;
		    .wd-home-04 & {
		    	display: none;
		    }
		}
		.wd_tini_cart_control {
			padding-bottom:6px;
		}
    }
    .cart_dropdown.drop_down_container{
    	position: absolute;
    	z-index: 999;
    	height: 0;
    	overflow: hidden;
    	opacity: 0;
    	border-radius: 0;
	    filter: alpha(opacity=0);
	    -webkit-transform-origin: 0 0 0;
	    transform-origin: 0 0 0;
	    -webkit-transform: scale(1, 0);
	    transform: scale(1, 0);
	    -webkit-transition: all .5s ease 0s;
	    transition: all .5s ease 0s;
    }
    .cart_dropdown.wd-showing-cart{
		height: auto;
    	opacity: 1;
	    filter: alpha(opacity=100);
	    -webkit-transform: scale(1, 1);
	    transform: scale(1, 1);
	}
    .cart_size{
    	a{
    		&:hover,a:active{
    			text-decoration: none;
    		}
    		> span{
			    display: inline-block;
			    vertical-align: bottom;
			    padding: 0px 4px;
			    color: #282828;
			    &.cart_text {
			    	padding-left: 5px;
			    }
			    &:hover{
			    	color: #a5a5a5;
			    }
    		}
    	}
    }
    .ic-bag:before{
    	@include font-awesome(\f07a,14px);
    }
    .num_item{
	    width: 22px;
	    height: 22px;
	   	display: inline-block;
	    right: 20px;
	    text-align: center;
	    border-radius: 50%;
	    line-height: 24px;
	    background-color: #f0e3d3 !important;
	    color: #212121;
	    font-size: 12px;
    }
    .cart_dropdown{
    	position: absolute;
        left: auto;
        right: 0px;
	    width: 270px;
	    height: auto;
	    margin: 0;
	    padding: 20px;
	    line-height: 15px;
	    border-radius: 0;
	    background: #fff;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    z-index: 999;
	    text-align: left;
    }
    .wd_cart_heading{
    	margin-top: 0;
    	text-transform: uppercase;
    	font-size: 16px;
    }
    .wd_cart_item_info{
    	margin-bottom: 10px;
    	font-weight: normal;
    }
    .cart_list{
		display: table;
	    table-layout: fixed;
	    padding-top: 10px;
	    li{
		    width: 100%;
		    display: inline-block;
		    line-height: 19px;
		    > a,.cart_item_wrapper{
		    	display: table-cell;
    			vertical-align: top;
		    }
		    > a{
		        width: 45%;
			    padding: 5px 5px;
			    text-align: center;
			    img{
			    	width: 100%;
			    }
		    }
		    .cart_item_wrapper{
		    	padding: 0 10px;
			    width: 55%;
			    position: relative;
			    overflow: hidden;
			    .wd_cart_title{
			    	color: #282828;
				    display: inline-block;
				    font-size: 14px;
				    font-weight: 400;
			    }
			    .quantity{
			    	display: block;
			    	padding-top: 10px;
			    }
			    .amount{
			    	font-weight: 600;
			    	color: #000;
			    	font-size: 14px;
			    }
			    a.remove{
			    	position: absolute;
			    	right: 0;
			    	top: 0;
			    	font-size: 16px;
			    	color: #282828 !important;
			    	&:hover{
			    		background:#282828;
			    		color: #fff !important;
			    	}
			    }
		    }
	    }
    }
    .dropdown_footer{
    	border-top: 1px solid #e8e8e8;
    	padding-top: 20px;
		p.buttons{
			a{
			    padding: 15px;
			    width: 100%;
			    line-height: 1rem;
			    -webkit-transition: all .15s ease;
			    transition: all .15s ease;
			    letter-spacing: 1px;
			    text-transform: uppercase;
			    font-size: 12px;
			    cursor: pointer;
			    border-radius: 0;
			    outline: 0;
			    vertical-align: middle;
			    float: left;
			    text-align: center;
			    border-style: solid;
    			border-width: 1px;
    			border-color: #000 !important;
				&.cart{
				    background-color: #000;
				    color: #fff;
				    margin-top: 15px;
				    &:hover, &:focus, &:active{
				    	background-color: #333;
					    border-color: #333;
					    color: #fff;
				    }
				}
				&.checkout{
					background: transparent !important;
					color: #282828 !important;
					border-color: #fff !important;
					margin-top: 5px;
					 &:after{
				    	@include font-awesome(\f105,12px);
				    	margin-left: 15px;
				    }
					&:hover{
						background-color: transparent;
					    border-color: #989898 !important;;
					    color: #666 !important;;
					}
				}
			}
		}
		.total{
			.link_color{
				font-weight: 600;
				text-transform: uppercase;
			}
			.link_color_hover{
				span{
					float: right;
					font-weight: 600;
					color: #121212;
				}
			}
		}
    }
    .wd-cart-empty{
    	margin-bottom: 20px;
    }
    &:hover{
    	.cart_dropdown.drop_down_container{
	    	height: auto;
	    	opacity: 1;
		    filter: alpha(opacity=100);
		    -webkit-transform: scale(1, 1);
		    transform: scale(1, 1);
	    }
    }
    .wd-empty-cart-btn{
    	margin:20px 10px;
    	a{
    		color: #ff0800;
    	}
    }
}
.home{
	.wd-header-default{
		margin-bottom: 50px;
	}
}
.wd-header-default{
	margin:20px 0;
	position:relative;
	&:before{
	    content: " ";
		border-top:solid 1px #dbdbdb;
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
	}
	.wd-header-search-cart{
		float:right;
		margin-top: -20px;
	}
	.wd-search-post form {
	    position: absolute !important;
	    top: -38px;
	    left: -60px;
	}
	.children{
		top: 45px;
		padding:0;
	}
}
.wd-search-post.style-2{
	-webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
    form{
    	position: relative;
		display: flex;
		display: -webkit-box;
	    display: -ms-flexbox;
	    margin: 0;
	    .wd-search-form-wrapper{
	    	input{
			    border: none;
			    border-bottom: 1px solid transparent;
			    width: 0;
			    -webkit-transition: width 0.4s ease-in-out;
			    transition: width 0.4s ease-in-out;
			    position: absolute;
			    right: 0;
			    top: 5px;
			    padding: 0 63px 0 25px;
			}
			::-webkit-input-placeholder { text-align:left; }
			input:-moz-placeholder { text-align:left; }
	    	button{
	    		color: $colo-282828;
	    		background: none;
				right: 0;
				text-transform: none;
				i{
					margin-right: 5px;
				    position: absolute;
			 		right: 60px;
	    			bottom: 15px;
	    			-ms-transition: all 0.4s ease;
				    -webkit-transition: all 0.4s ease;
				    transition: all 0.4s ease;
				}
	    	}
	    }
    	.wd-search-form-wrapper.wd-search-typing{
			input {
				width: 270px;
				border-bottom-color: #dbdbdb;
			}
			button i{
				margin-right: 5px;
			    position: absolute;
		 		right: 250px;
			}
		}
    }
    &:hover {
    	form {
    		input {
	    		width: 270px;
	    		border-bottom-color: #dbdbdb;
	    	}
	    	button i{
				margin-right: 5px;
			    position: absolute;
		 		right: 250px;
			}
    	}
    }
}
.wd-click-popup-search{
	cursor:pointer;
	i{
		color: #fff;
	}
}
.wd-popup-search.show {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99999;
    overflow-y: auto;
    &:before{
    	height: 100%;
	    width: 100%;
	    left: 0;
	    top: 0;
	    background-color: #0a121f;
	    opacity: 0.9;
	    position: absolute;
	    z-index: -1;
	    content: '';
    }
    .wd-search-close {
	    position: absolute;
	    top: 20px;
	    right: 20px;
	    width: 28px;
	    height: 28px;
	    text-align: center;
	    color: #282828;
	    cursor: pointer;
	    background: #fff;
	    line-height: 28px;
	}
	.wd-search-form-wrapper {
	    position: absolute;
	    z-index: 2;
	    top: 50%;
	    padding: 0 30px;
	    width: 100%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	}
	.wd-search-form-wrapper input{
		border: none;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	    width: 100%;
	    height: 50px;
	    color: #fff;
	}
	.wd-search-form-wrapper input[type='text'] {
	    border: none;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	    width: 100%;
	    height: 50px;
	    color: #fff;
	}
	form.wd-search-form-default .wd-search-form-wrapper button {
	    position: absolute;
	    right: 50px;
	    top: 0;
	    background: none;
	    border: none;
	    height: 50px;
	    font-weight: 400;
	    font-size: 13px;
	    color: #fff;
	    i{
	    	margin-right: 10px;
	    }
	}
}
.wd-search-pro-by-cat {
	padding-bottom:40px;
	margin-bottom:40px;
	.select2-container{
		float: left;
	}
	.select2-container--default .select2-selection--single {
	    background-color: #fff;
	    border: 1px solid #aaa;
	    border-radius: 0;
	    height: 40px;
	    float: left;
	}
	.wd_search_form{
		float: left;
		width: 85%;
		height: 40px;
		position:relative;
		input{
			height: 40px;
		}
		@media (max-width: 992px){
			width: 70%;
		}
	}
	input.search-submit{
		position: absolute;
		top: 0;
		right: 0;
		padding:0 10px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	    color: #444;
	    line-height: 40px;
	    padding-left:15px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
	    height: 40px;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    width: 20px;
	}
}
body {
	.wd-title-header, .wd-shortcode-gtranslate .selected a{
		color: #282828;
		font-size: 13px;
		&:hover{
			color: #a5a5a5;
		}
	}
	.wd_tini_account_wrapper,.wd-shortcode-gtranslate,.widget-woocommerce-currency-switcher  {
		.wd_tini_account_control > a ,.switcher .selected a,h2.widget-title{
			color: $header_text_color3;
		    font-weight: normal;
		    border: none;
		    padding: 10px 0;
		    height: auto;
		    font-family: $font-custom;
		    font-size: 13px;
		    text-transform: capitalize;
		    background-color: transparent;
		    &:hover{
				color: #a5a5a5;
			}
		}
	}
	.switcher .selected a.open{
		background: none;
		color: #282828;
	}
	.widget-woocommerce-currency-switcher,.wd-shortcode-gtranslate {
		.woocommerce-currency-switcher-form,.switcher .option{
		    opacity: 0;
		    filter: alpha(opacity=0);
		    border: none;
		    margin: 0;
		    min-width: 190px;
		    padding-top: 8px;
		    text-align: initial;
		    -webkit-transition: all .5s ease 0s;
		    transition: all .5s ease 0s;
		    border-radius: 0px;
		    transform: scale(0, 0);
		    -ms-transform: scale(0, 0);
		    -webkit-transform: scale(0, 0);
		    -moz-transform: scale(0, 0);
		    transform-origin: left top 0;
		    -ms-transform-origin: left top 0;
		    -webkit-transform-origin: left top 0;
		    -moz-transform-origin: left top 0;
		    left: 0;
		    top: 100%;
		    position: absolute;
		    display: block!important;
		}
		&:hover {
			.woocommerce-currency-switcher-form,.switcher .option{
				opacity: 1;
				filter: alpha(opacity=1);
			    transform: scale(1);
			    -webkit-transform: scale(1);
			    -moz-transform: scale(1);
			    -ms-transform: scale(1);
			}
		}
	}
	.wd-shortcode-gtranslate .switcher .option{
		padding: 10px;
		border: solid 1px #ccc;
    	background: #fff;
		a {
			padding: 5px;
			border:none;
			&.selected {
				background: #fff;
				border:none;
			}
		}
	}
	.wd-shortcode-gtranslate .switcher .selected a:hover {
		background: none;
	}
	.wd-shortcode-gtranslate .switcher .option a:hover {
	    background: #fff;
	}
}
.wd-shortcode-uber-menu.wd-navmenu{
	.wpb_text_column{
		line-height: 1.666;
	}
}
.wd-home-01.wd-menu-home-01{
	border-top:1px solid #dbdbdb;
	position:relative;
	&:before{
		content: " ";
		border-top:1px solid #dbdbdb;
		width: 200%;
		position:absolute;
		left: -200%;
		top: -1px;
	}
	&:after{
		content: " ";
		border-top:1px solid #dbdbdb;
		width: 200%;
		position:absolute;
		right: -200%;
		top: -1px;
	}
}
.wd-home-01,.wd-home-04,.wd-home-05,.wd-home-06, .wd-home-08, .wd-home-09, .wd-home-11{
	.wpb_text_column.wpb_content_element{
		margin-bottom: 0;
	}
}
.wd-home-01,.wd-home-04,.wd-home-05,.wd-home-06, .wd-home-08, .wd-home-09, .wd-home-10, .wd-home-11{
	.switcher{
		font-family: $font-custom;
		width: auto;
		position: relative;
		overflow: inherit;
		.selected{
			background: none;
			a{
				background: none;
				border: none;
				width: 80px;
				img{
					margin-right: 5px;
	    			vertical-align: bottom;
				}
			}
		}
	}
	&.wd-header-main{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    .wpb_text_column{
			margin: 0;
		}
	    .wpb_column:nth-child(1),.wpb_column:nth-child(3){
	    	.wpb_wrapper{
	    		display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;
			    -webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			    
	    	}
	    }
	    .wpb_column:nth-child(1){
	    	.wpb_wrapper{
	    		justify-content: flex-start;
	    	}
	    }
	    .wpb_column:nth-child(2){
	    	padding: 0;
	    }
	    .wpb_column:nth-child(3){
	    	.wpb_wrapper{
	    		justify-content: flex-end;
	    	}
	    }
	}
	.woocs_selector{
		margin: 0  !important;
	    -webkit-box-ordinal-group: 3;
	    -ms-flex-order: 1;
	    order: 1;
	    text-align: center;
	    h2.widget-title{
	    	margin: 0 !important;
	    	color: $colo-282828;
	    	font-size: 12px;
	    	border:none;
	    	cursor: pointer;
	    	padding: 0;
	    	&:after{
	    		display: none;
	    	}
	    }
	    
	}
	.widget-woocommerce-currency-switcher{
		padding: 0 10px;
    	width: auto;
		> form{
			width: 100px;
			right: -25px;
			.dd-select{
				a.dd-selected{
					background:#fff;
				}
			}
		}
	}
	a.dd-selected, .dd-options{
		label{
			font-size: 13px;
			color: #282828;
		}
		small{
			font-size: 12px;
		}
	}
	.widget-woocommerce-currency-switcher{
		border-left: 1px solid #dbdbdb;
		border-right: 1px solid #dbdbdb;
	}
	.wd-shortcode-wishlist{
		-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	    order: 2;
	    padding:0 10px;
	    border-right: 1px solid #dbdbdb;
	}
	.wd_tini_account_wrapper{
		-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 3;
	    order: 3;
	    padding-left: 10px;
	    .form_drop_down{
	    	position: absolute;
	    	top: 100%;
	    	min-width: 300px;
	    	margin-top: -1px;
			border: 1px solid rgba(0,0,0,.15);
			@include border-radius(0px);
			@include box-shadow(0 6px 12px rgba(0,0,0,.175));
			z-index: 9999;
			.form_wrapper{
				padding:20px;
				form.login{
					border:none;
					margin:0;
					padding:0;
				}
			}
			p.login-password, p.login-username{
				input{
					margin-bottom: 10px;
				}
			}
			p.login-submit{
				margin-top: 0;
			}
			p{
				margin-top: 0px;
			}
			label{
				min-width: 100px;
			}
	    }
	    .form_drop_down.drop_down_container.wd-user-logged{
			min-width: 150px;
	    }
	}

	&.wd-menu{
		border-top: 1px solid #dbdbdb;
		overflow: initial !important;
		>.vc_col-sm-12{
			position: initial;
		}
	}
	.wd-navmenu{
		margin: 0 !important;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			> li{
				display:block;
				> a{
					color: $colo-282828;
					text-transform: uppercase;
					display: block;
					&:hover{
						text-decoration: none;
					}
				}
				&.current-menu-item{
					a{
						color: #282828;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
.wd-home-02{
	&.wd-header-top{
		border-top: 1px solid $colo-282828;
		z-index: 99;
		.wd-header-top-1{
			.wpb_wrapper{
				text-align: center;
			}
		}
	}
	.wd-shortcode-site-header.text-center{
		position: absolute;
		top: -15px;
		z-index: 101;
		left: 0;
		@media (min-width: 1400px){
			left: -10%;
		}
	}
	&.wd-header-main.vc_row[data-vc-full-width]{
        top: auto;
	    background-color: transparent;
	    z-index: 1;
	    margin-top: 30px;
	    padding-bottom:30px;
	    overflow: inherit;
	    width: 1170px!important;
	    margin: auto;
	    text-align: center;
	    left: auto!important;
	    z-index: 999;
	    position:absolute !important;
	    .wpb_column:nth-child(1){
	    	.vc_column-inner {
		    	padding-top: 0 !important;
		    }
	    }
		    
	    .header-main{
	    	text-align: left;
	    	padding-top: 25px;
	    }
	    .shopping-cart,.wd-search-post{
			float: right;
			position: relative;
			z-index: 999;
			right: 15%;
			@media (min-width: 1200px) {
				right: 0;
			}
			@media (min-width: 1500px) {
				right: -15%;
			}
	    }
	    .shopping-cart .cart_size a > span {
		    color: #fff;
		}
	    .shopping-cart .shopping-cart{
	    	width: auto;
	    	padding:0;
			.num_item{
				right: -25px;
			}
			span.cart_size{
				a
				{
					color: #fff;
					.cart_size_value_head{
						color: #fff;
					}
				}
			}
			.ic-bag:before{
				border-left: none;
			}
	    }
	}
	.wd-shortcode-uber-menu.wd-navmenu.pull-right{
		float: none !important;
	}
	nav.ubermenu-horizontal .ubermenu-nav{
		text-align: right;
		margin-top: 30px;
		@media (min-width: 1200px) {
	    	margin-right: 12%;
	    	float: right;
	    }
	    @media (min-width: 1500px) {
	    	margin-right: 0;
	    }
	    li.ubermenu-item-level-0{
			> a{ 
				span{ 
					font-weight: 500;
					color: #fff;
					&:hover{
						color: #a5a5a5;
					}
				}

			}
		}
	}
	&.wd-menu{
		border-top: 1px solid #dbdbdb;
		overflow: initial !important;
		>.vc_col-sm-12{
			position: initial;
		}
	}
	.wd-navmenu{
		margin:0 !important;
		@media (min-width: 1200px) {
	    	margin-bottom:-33px !important;
	    }
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			> li{
				display:block;
				> a{
					color: $colo-282828;
					text-transform: uppercase;
					display: block;
					&:hover{
						color: #a5a5a5;
						text-decoration: none;
					}
				}
				&.current-menu-item{
					a{
						color: #282828;
						&:hover{
							color: #a5a5a5;
							text-decoration: none;
						}
					}
				}
				.wd-shortcode-site-header{
					position: relative;
					top: 0;
				}
			}
		}
	}
}
.wd-navmenu{
	ul{
		> li{
			.wd-shortcode-site-header{
				
			}
			.wpb_text_column{
				text-align: center;
				margin-bottom: 20px;
			}
			.ubermenu-target.ubermenu-item-layout-image_only{
				display: none;
			}
			.ubermenu-target{
				padding:30px 10px 20px 10px;
			}
		}
	}
}
.wd-home-08{
	&.wd-header-top{
		border-bottom: 1px solid #dcdcdc;
		position:relative;
		.wpb_column .wpb_wrapper{
			color: #282828;
			font-weight: 600;
		}
		.wpb_column:nth-child(2) .wpb_wrapper{
			border-left: 1px solid #dcdcdc;
    		border-right: 1px solid #dcdcdc;
		}
	}
	&.cu-en{
		border:none;
		overflow:inherit !important;
		.wd-shortcode-gtranslate{
			position:absolute;
			top: -44px;
    		right: 115px;
		}
		.widget.woocs_selector{
			position:absolute;
			top:-50px;
			right:40px;
			.widget-woocommerce-currency-switcher{
				border:none;
				.woocommerce-currency-switcher-form {
					line-height: 25px;
				}
			}
			.wd-title-header{
				font-weight: normal;
			}
		}
	}
	&.wd-header-main{
		overflow:inherit !important;
		padding:0 30px;
	}
	&.wd-header-main{
		ul li{
			.wpb_column:nth-child(1),.wpb_column:nth-child(3){
		    	.wpb_wrapper{
		    		display: block !important;
				    
		    	}
	    	}
		} 
	}
	.widget-woocommerce-currency-switcher > form {
	    width: 100px;
	    right: 10px;
	    left: auto;
	    top: 30px;
	}
	.wd-shortcode-gtranslate .switcher .option {
	    min-width: 100px;
	    right: 0;
	    left: auto;
	}
	.wd_tini_account_wrapper{
	    .form_drop_down{
	    	right: 0;
	    }
	}
}
.wd-home-04{
	.wd-banner-plus-body{
		&:hover{
			img{
				-webkit-transition: all .5s ease;
			    transition: all .5s ease;
			    transform: scale(1.2);
			    -webkit-transform: scale(1.1);
			    -moz-transform: scale(1.1);
			    -o-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			}
		}
	}
	&.wd-header-top{
		border-bottom: 1px solid #dcdcdc;
		.wpb_column .wpb_wrapper{
			color: #282828;
			font-weight: 600;
		}
		.wpb_column:nth-child(2) .wpb_wrapper{
			border-left: 1px solid #dcdcdc;
    		border-right: 1px solid #dcdcdc;
		}
	}
	&.wd-header-main{
		.vc_column-inner {
			padding-top: 0 !important;
		}
		.header-main{
			text-align: left;
			padding: 0;
		}
		.wpb_text_column{
			padding: 10px 0px;
		}
		.widget.widget-woocommerce-currency-switcher, .wd-shortcode-wishlist, .wd_tini_account_wrapper{
			margin-top: 8px;
		}
		.switcher .selected a{
			text-align: center;
			margin-left: 5px;
			&:before{
				content: "";
			    background: #dbdbdb;
			    height: 13px;
			    width: 1px;
			    display: inline-block;
			    position: absolute;
			    top: 12px;
			    left: 0;
			}
		}
	}
	nav.ubermenu-horizontal {
	    margin-left:-30px;
	    text-align: left;
	    padding-top: 20px;
	}
	&.wd-menu{
		.wpb_column.vc_column_container{
			position: relative;
		}
		.wd-navmenu{
			ul.menu{
				text-align: left;
				margin: 0 -25px;
				> li{
					> a span{
						color: #fff;
					}
				}
			}
		}
	}
	.wd-navmenu{
    	.menu{
    		li{
    			a{
    				color: #fff;
    				&:hover,&:active,&:focus{
    					color: #a5a5a5;
    				}
    			}
    			.sub-menu{
    				> li > a{
    					color: #282828;
    				}
    			}
    		}
    	}
    }
    nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span {
	    color: #fff;
	}
	.shopping-cart{
	    width: auto;
	    padding: 6px 0px;
	    position: absolute;
	    margin-top: 9px;
	    text-align: right;
	    margin-right: 0;
        right: 0;
	    top: 0;
	    z-index: 999;
		.ic-bag:before{
			border: none;
		}
		.num_item{
			right: -28px;
		}
		.cart_size{
			> a > span{
				color: #fff;
				&:hover{
					color: #a5a5a5;
				}
			}
		}
	}
	&.wd-slider-tab{
		.vc_row.wpb_row{
			@media (min-width: 768px) {
		  	 	display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}
			@media (min-width: 992px) {
				margin-top: 60px;
			}
		}
		.vc_row-fluid:nth-child(3){
			.wpb_column:nth-child(1){
				.wd-shortcode-banner-plus{
					&.wd-banner-image-position-content-center{
						.wd-banner-plus-text{
							@media (min-width: 1023px) {
								transform: translateY(-50%);
			    			}
		    			}
					}
				}
			}
			.wpb_column:nth-child(2){
				.wd-shortcode-banner-plus{
					&.wd-banner-image-position-content-center{
						.wd-banner-plus-text{
							top: 85%;
		    			}
					}
				}
			}
		}
		.wd-shortcode-banner-plus{
			.wd-banner-plus-button{
				a{
					margin-top: 30px;
					font-weight: 700;
					font-size: 18px;
					text-transform: lowercase;
					color: #282828;
					background-color: #fff;
					line-height: 1.5;
					padding: .38462rem .76923rem;
					border: 0;
					letter-spacing: 1.3px;
					&:after {
					    content: ' ';
					    display: block;
					    height: 1px;
					    border-top: 1px solid #282828;
					    margin-top: -.15385rem;
					}
				}
			}
			.wd-banner-plus-image{
				overflow: hidden;
			}
			&.wd-banner-image-position-content-center{
				.wd-banner-plus-text{
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					max-width: none;
					.wd-banner-plus-heading-1,.wd-banner-plus-heading-2{
						font-size: 30px;
					    background-color: #fff;
					    line-height: 1.4;
					    letter-spacing: 0.5px;
					    font-weight: 500;
					    padding: 0 15px;
					    @media (min-width: 992px) {
					    	font-size: 40px;
					    }
					}
					.wd-banner-plus-heading-1{
						display: inline;
						 white-space: nowrap;
					}
					.wd-banner-plus-heading-2{
						margin-top: 30px;
						font-size: 30px;
					}
				}
			}
			&.wd-banner-image-position-content-outside-right{
				margin-top: 30px;
				@media (min-width: 992px) {
				   margin-left: 0;
					margin-top: 100px;
					background-color: #f2f2f2;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					
				}
				.wd-banner-plus-video{
					width: 80%;
					float: none;
					margin: -40px 0 40px 40px;
					@media (max-width: 768px) {
						width: 100%;
						float: none;
						margin: 0;
					}
					iframe{
						width: 100%;
					}
				}
				.wd-banner-plus-body.wd-banner-plus-with-border_content{
					text-align: center;
    				padding: 45px;
    				width: 100%;
    				float: none;
    				@media (min-width: 992px) {
    					width: 20%;
    				}
    				.wd-banner-plus-heading-1,.wd-banner-plus-heading-2{
						font-size: 40px;
						background-color: #fff;
						line-height: 1.3;
						letter-spacing: 1.3px;
						text-transform: initial;
						font-weight: 500;
					}
					.wd-banner-plus-heading-1{
						display: inline;
						font-family: $font-custom;
					}
					.wd-banner-plus-heading-2{
						margin-top: 20px;
					}
				}
			}
		}  
	}

}
.wd-home-05{
	&.wd-header-top{
		.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
			margin-bottom: 0;
		}
		border-bottom: none;
		.wpb_column .wpb_wrapper{
			color: #3c3c3c;
			font-weight: 600;
		}
		.wpb_column:nth-child(2) .wpb_wrapper{
			border-left: 1px solid rgba(255,255,255,0.3);
    		border-right: 1px solid rgba(255,255,255,0.3);
		}
	}
	&.wd-header-main{
		.header-main {
			text-align: center;
			margin-top: 0;
		}
	}
	&.wd-menu{
		.vc_column-inner {
			padding-top: 0 !important;
		}
		.wd-navmenu ul{
			> li{
				> a{
					color: #fff;
				}
				ul li{
					> a{
						color: #282828;
					}
				}
			}
		}  
	}
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span {
	    color: #fff;
	}
} 
.wd-content-header .vc_row.wpb_row.vc_row-fluid .vc_column_container{
	.vc_column-inner {
		padding:0 15px;
	}
	.wpb_text_column.wpb_content_element {
		margin: 0;
		letter-spacing: 1.3px;
	}
}
.wd-content-header .wd-home-07 .vc_row.wpb_row.vc_row-fluid .vc_column_container{
	.wpb_text_column.wpb_content_element {
		text-align:center;
	}
}
.wd-home-06, .wd-home-11{
	&.wd-header-top{
		border-bottom:1px solid #dbdbdb;
		.wpb_column .wpb_wrapper {
		    font-weight: 500;
		    font-size: 11px;
		    color: #282828;
		}
		.wpb_text_column.wpb_content_element {
			margin-bottom: 0;
		}
	} 
	&.wd-header-top .wpb_column:nth-child(2) .wpb_wrapper {
	    border:none;
	}
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span {
	    color: #fff;
	}
}
/*============== HEADER MOBILE =================*/
header .wd-header-mobile{
	background:#fff;
	z-index: 999;
	border-bottom: solid 1px #dcdcdc;
	.wd-header-top{
		background: #fff;
	}
	.wd-header-bottom{
		padding-bottom:10px;
		position: relative;
    	height: 60px;
		.wd-header-logo{
			position: absolute;
		    z-index: 1;
		    top: 7px;
		    left: 55px;
		    width: 100px;
		}
		.wd-header-menu{
		    font-size: 28px;
		    line-height: 18px;
		    left: 0px;
		    top: 15px;
		    overflow: hidden;
		    padding: 0 1.38462rem;
		    position: absolute;
		    z-index: 999;		    
			.menu-bars{				
				display:block;
				line-height:0;
				cursor:pointer;
				color: #000 !important;		
				&.pushmenu{
					i{display:none;}
				}
			}
		}
		.wd-header-cart{
			position: absolute;
		    top: 20px;
		    right: 25px;
			.wd_tini_cart_wrapper{
				float:none;
				padding-left:0;
				margin-top: 0;
				.wd_tini_cart_control{
					a:before{font-size:18px;}
					.cart_size a{
						color: #000;
						margin-right: 15px;
					}
				} 
			}
			.shopping-cart {
				.wd_tini_cart_control {
			    	.text_num_intem,.total{
				    	@include hideText();
				    }
			    }
			    
			    .ic-bag:before{
			    	@include font-awesome(\f07a,24px);
			    	padding-right: 25px;
    				color: #000;
			    }
			    .num_item{
				    width: 22px;
				    height: 22px;
				    position: absolute;
				    right: -10px;
					top:0px;
				    text-align: center;
				    border-radius: 50%;
				    line-height: 22px;
				    background-color: #f0e3d3 !important;
				    color: #000;
			    }
			}
		    .cart_dropdown{
		    	position: absolute;
		        left: auto;
		        right: 0;
			    width: 270px;
			    height: auto;
			    margin: 0;
			    padding: 20px;
			    line-height: 15px;
			    border-radius: 0;
			    background: #fff;
			    border: 1px solid rgba(0,0,0,.15);
			    border-radius: 4px;
			    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			    box-shadow: 0 6px 12px rgba(0,0,0,.175);
			    z-index: 1;
			    text-align: left;
			    z-index: 9999;
		    }
		}	
	}
}
.pushmenu-left{display:none;}
.pushmenu-left {
	.menu-bars {
		position: absolute;
	    top: 22px;
	    right: 5px;
	    z-index: 999;
	    font-size: 25px;
	    background: none;
	    height: 30px;
	    width: 30px;
		&.pushmenu:before{
			text-align: center;
		    display: block;
		    height: 100%;
		}				
	}
	.logo-wishlist{
		border-bottom:solid 1px #dcdcdc;
		.img-logo-menubar{
			height: 45px;
			margin: 10px;
		}
	}
	.wd-shortcode-wishlist.wd-show-icon-wishlist{
	    position: absolute;
	    right: 45px;
	    top: 26px;
	    .wd-title-header{
	    	font-size: 20px;
	    }
	}
	.wd-header-search{
		position: absolute;
	    top: 20px;
	    right: 75px;
	    z-index: 99;
    	a{
    		color: #000;
    		i{
    			color: #000;
    		}
    	}
	}
	.wd_loginuser{
		margin-top: 20px;
		float: left;
		width: 100%;
	    text-align: center;
	    padding-bottom:50px;
	    .wd_tini_account_control{
	    	a{
	    		@extend %hover_button;
	    		width: 100%;
			    padding: 10px;
			    font-size: 13px;
			    text-transform: uppercase;
			    height: 40px;
				display: block;
				margin-bottom: 20px;
	    	}
	    }
	}
	.currency_gtranslate{
		position: relative;
		padding:0 15px;
		height: 40px;
		width: 100%;
		background:#fff;
		margin-top: 50px;
		.wd-header-mobile-gtranslate{
			position: absolute;
			width: 50%;
			height: 40px;
			padding:0;
			line-height: 1;
			right: 0;
			.switcher .selected{
				background:none;
				position: relative;
				a{
					padding:0;
					line-height: 40px;
					width:145px;
					&:before{
						content: "\f107";
					    font-family: FontAwesome;
					    font-style: normal;
					    position: absolute;
					    right: 35px;
					    top: 2px;
					    font-size: 13px;
					}
				}
			}
			.switcher .option{
				min-width: 110px;
				width: 110px;
			}
		}
		.wd-header-mobile-currency{
			position: absolute;
			width: 50%;
			height: 40px;
			padding:10px;
			line-height: 20px;
			left: 0;
			.widget.widget-woocommerce-currency-switcher{
				width: 100%;
				padding:0;
				border-right: solid 1px #282828;
				position: relative;
				>a>span{
					&:before{
						content: "\f107";
					    font-family: FontAwesome;
					    font-style: normal;
					    position: absolute;
					    right: 10px;
					    top: 1px;
					    font-size: 13px;
					}
				}
			}
			.woocommerce-currency-switcher-form .dd-selected {
			    color: #282828;
			    display: block;
			    font-weight: bold;
			    overflow: hidden;
			    padding: 10px;
			    font-size: 13px;
			    background:#fff;
			}
			.woocommerce-currency-switcher-form a.dd-option{
				font-size: 13px;
			}
		}
	}
}
.widget_search_product {
	.wd-search-pro-by-cat  {
		.search-form {
			display: table;
			.wrap-select {
				position: relative;
				border-radius: 0;
				&:before {
					content: "";
					@include font-awesome(\f0d7, 15px);
				    color: #303f9f;
				    position: absolute;
				    top: 50%;
				    right: 10px;
				    -webkit-transform: translateY(-50%);
				    -moz-transform: translateY(-50%);
				    transform: translateY(-50%);
				}
			}
			.wd_search_product{
				display: table-cell;
				vertical-align: middle;
				width: 165px;
				height: 41px;
				padding: 0 20px 0 10px;								
				outline: none;
				border: 1px solid #bdbdbd;
				border-right: none;
				border-radius: 0;
				option {
					padding: 10px;				
				}
			}
			.wd_search_form {
				display: table-cell;
				vertical-align: middle;				
				width: 100%;
				position: relative;
				&:after {
					@include font-awesome(\f002, 14px);	
					color: $main_title_color_blog;				
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
				}
				input[type='text'] {
					border-radius: 0;
					height: 41px;
					line-height: 41px;
					padding: 0 10px;	
					border-color: #bdbdbd !important;
					width: 100%;
					padding-right: 30px;
				}
				input[type='submit'] {	
					font-size: 0;				
					width: 25px;
					height: 25px;
					background: none;
					position: absolute;
					top: 50%;
					right: 7px;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					z-index: 5;
				}
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.pushmenu-left{
		display:block;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 320px;
		height: 100%;
		padding:0 15px;
		overflow-y: auto;
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		-webkit-transition: all 0.6s ease;
		transition: all 0.6s ease;
		background-color: #f5ebe1 !important;
		&.pushmenu{	
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);	
		}
		.nav, .mobile-main-menu{
			margin:0;
			list-style:none;
			width: 100%;
			>ul > li{
				border-bottom: solid 1px #dcdcdc;
				>a{
					text-transform: uppercase;
					font-weight: 500;
				}
			}
			li.page_item, li.menu-item{
				position:relative;
				display:block;
				text-align:left;
				font-size:14px;
				padding:15px 0;
				a{
					@include changeColor(#282828, $colorPrimary);
					&:after{content:none!important;}
					&:focus,&:hover {
						color: #282828 !important;
					}
				}
				.children,.sub-menu{
					display:none;
					padding:0;
					padding-bottom:0;
					background: none;
					position: static;
					visibility: visible;
					opacity: 1;
					border: none;
					box-shadow: none;
					max-width: none;
					min-width: inherit;
					&:before{content:none;}
					margin-top: 15px;
					li{
						padding:15px 0;
						margin: 0;
						border-bottom: solid 1px #dcdcdc;
						&:last-child{
							border-bottom: none;
						}
					}
				}
				&.page_item_has_children, &.menu-item-has-children{
					i{
						float:right;
						width:20px;
						height:20px;
						text-align:center;
						color:#282828;
						cursor:pointer;
						&.openmenu + a + ul.children, &.openmenu + a + ul.sub-menu{
							display:block;
						}
						&:before {
						    content: "\f105";
						    font-family: FontAwesome;
    						font-style: normal;
						}
						&.openmenu{
							&:before {
						        content: "\f107";
							    font-family: FontAwesome;
	    						font-style: normal;
							}
						}
					}
				}
			}
		}	
		&.wp-user-login-mobile{
			top:32px;
		}
	}
	body.pushmenu{overflow:hidden;}
	.wd-header-menu ul.nav > li.page_item ul.children > li a, .wd-header-menu ul.nav > li.page_item ul.sub-menu > li a, .wd-header-menu ul.nav > li.menu-item ul.children > li a, .wd-header-menu ul > li.menu-item ul.sub-menu > li a, .wd-header-menu ul.nav > li.page_item ul.children > li a, .wd-header-menu ul.nav > li.page_item ul.sub-menu > li a, .wd-header-menu ul.nav > li.menu-item ul.children > li a, .wd-header-menu ul.nav > li.menu-item ul.sub-menu > li a{display:inline-block;}
	.shopping-cart .cart_size a span.cart_text{
		display: none;
	}
	.shopping-cart .ic-bag:before{
		border: none;
	}
}
@media screen and (max-width:782px) {
	.pushmenu-left.wp-user-login-mobile{top:46px; padding-bottom:70px;}
}
.home-header-left{
	.header{
		padding: 0;
	}
}
.wd-home-07.wd-header-main{
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	height:100%;
	width:280px;
	padding:0 20px;
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu, nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu ul.ubermenu-submenu-type-auto {
	    background-color: #ffffff;
	    -webkit-box-shadow: 0 -2px 10px #a3a3a3;
	    -moz-box-shadow: 0 -2px 10px #a3a3a3;
	    box-shadow: 0 -2px 10px #a3a3a3;
	    color: #363636;
	    border-color: #ffffff;
	    padding: 10px 0;
	    margin: 0;
	    min-width: 220px;
	    left: 100%;
	    margin: -35px 0 0 35px;
	    -webkit-transition: all .8s ease 0s;
	    transition: all .8s ease 0s;
	    border: 1px solid #dbdbdb;
	    a{
	    	padding: 10px 20px;
	    }
	}
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.wd-mega-menu-wrap, nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu ul.ubermenu-submenu-type-auto {
	    background-color: #ffffff;
	    -webkit-box-shadow: 0 -2px 10px #a3a3a3;
	    box-shadow: 0 -2px 10px #a3a3a3;
	    color: #363636;
	    border-color: #ffffff;
	    padding: 20px;
	    margin: 0;
	    min-width: 830px;
	    left: 100%;
	    margin: -35px 0 0 35px;
	    -webkit-transition: all .8s ease 0s;
	    transition: all .8s ease 0s;
	    border: 1px solid #dbdbdb;
	    a{
	    	padding: 0;
	    }
	    .ubermenu-target-with-image{
	    	span{
	    		text-align:center;
	    	}
	    }
	    @media (min-width: 1300px){
	    	min-width: 1020px;
	    }
	}
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu .ubermenu-column.ubermenu-item-object-ubermenu-custom img{
		margin-bottom: 0;
	}
	nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu .ubermenu-column.ubermenu-item-object-ubermenu-custom, nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu ul.ubermenu-submenu-type-auto .ubermenu-column.ubermenu-item-object-ubermenu-custom {
	    padding: 0;
	}
	nav.ubermenu{
		margin-bottom: 30px;
		ul.ubermenu-nav >li{
			list-style: none;
		    margin: 0;
		    text-align: left;
		    padding: 5px 0;
		    background-color: transparent;
		    border-top: 2px solid transparent;
		    border-bottom: 1px solid #363636;
		    position: relative;
		    a{
		    	color: #fff;
		    	&:after{
		    		color: #fff;
		    	}
		    }
		    a span{
		    	padding:0;
		    	color: #fff;
			    text-transform: uppercase;
			    font-size: 13px;
			    &:hover{
		    		color: #a5a5a5;
		    	}
		    }
		    @media (min-width: 1366px){
		    	padding: 10px 0;
		    }
		    @media (min-width: 1600px){
		    	padding: 15px 0;
		    }
		    &:hover{
	    		a span{
			    	color: #a5a5a5;
			    }
	    	}
		}	
	}
	.vc_btn3-container.vc_btn3-inline{
		a.vc_general.vc_btn3{
			padding:10px !important;
		}
	}
	.ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {
	    margin-top: 20px;
	    top: auto;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    -webkit-transform-origin: 0 0 0;
	    transform-origin: 0 0 0;
	    -webkit-transform: scale(0, 0);
	    transform: scale(0, 0);
	    -webkit-transition: all .8s ease 0s;
	    transition: all .8s ease 0s;
	}
	.ubermenu-nojs.ubermenu-transition-shift .ubermenu-item:hover>.ubermenu-submenu-drop, .ubermenu-transition-shift .ubermenu-item.ubermenu-active>.ubermenu-submenu-drop {
	    margin-top: 0;
	    opacity: 1;
	    filter: alpha(opacity=100);
	    visibility: visible;
	    transform: scale(1, 1);
	    -ms-transform: scale(1, 1);
	    -webkit-transform: scale(1, 1);
	    -moz-transform: scale(1, 1);
	}
	.wd_tini_cart_wrapper{
		margin-left: 0;
		padding-left:0;
		&:before{
			content: "";
			display: none;
		}
		.wd_tini_cart_control {
			.cart_size{
				a{
					color: #282828;
				}
				position: relative;
			    width: auto;
			    padding: 10px 0;
			    background: #fff;
			    text-align: center;
			    margin-bottom: 30px;
			}
		}
	}
	.shopping-cart{
		margin: 20px 0 50px 0;
		width: 100%;
		margin-top: 90px;
		.cart_size a > span{
			width: 100%;
		}
		.cart_dropdown{
			left: 95%;
			bottom:-3px;
			max-height:450px;
			overflow-y: scroll; 
		}
		.num_item{
			background-color: #252525 !important;
			color: #fff;
		}
	} 
	.wpb_text_column{
		ul li{
			color: #8b8b8b;
			font-size: 12px;
			text-align:center;
			a{
				color: #8b8b8b;
			}
		}
	}
	.wd-shortcode-gtranslate {
		.switcher.notranslate{
			width: 20px;
		    margin-top: -7px;
		}
	}
	.switcher .selected{
		background:none;
	}
	.wd-shortcode-gtranslate .switcher .option{
		top: auto;
		left: 25%;
	}
	.widget.woocs_selector {
	    padding: 0 5px;
	    position: absolute;
	    text-align: center;
	    left: 35%;
	    height: 20px;
	    border-left: 1px solid #3c3c3c;
    	border-right: 1px solid #3c3c3c;
		.widget.widget-woocommerce-currency-switcher{
			width: 20px;
			padding:0;
		    .wd-title-header{
		    	color: #fff;
		    }
		}
		.widget-title{
			color: #fff;
			font-size: 0;
			width: 20px;
			i{
				color: #fff;
				font-size: 14px;
			}
			&:before, &:after,{
				content: '';
			}
		}
	}
	.wd-shortcode-gtranslate {
	    padding: 0 10px;
	    position: absolute;
	    left: 20%;
	    height: 20px;
	}
	.wd-shortcode-wishlist.wd-show-icon-wishlist{
	    padding: 0 13px;
		position: absolute;
	    right: 35%;
	    height: 20px;
    	border-right: 1px solid #3c3c3c;
		.wd-title-header{
	    	color: #fff;
	    }
	}
	.wd-search-post.style-2{
		margin-top: 5px;
		.wd-search-form-wrapper input::-webkit-input-placeholder {
		  color: #fff; }

		.wd-search-form-wrapper input:-moz-placeholder {
		  color: #fff; }

		.wd-search-form-wrapper input::-moz-placeholder {
		  color: #fff; }

		.wd-search-form-wrapper input:-ms-input-placeholder {
		  color: #fff; }
		form{
			height: 40px;
			border-bottom:solid 1px #323232;
			button{
				color: #fff;
				position: absolute;
				right: 50%;
				transform: translateX(50%);
				-webkit-transform: translateX(50%);
			}
			input{
				left: 0;
				border:none;
				color: #fff;
			}
			&:hover{
				button{
					right: 20px;
				}
			}
			.wd-search-form-wrapper.wd-search-typing{
				input {
					width: 215px;
					border-bottom-color: #dbdbdb;
				}
				button{
					right: 20px;
				}
				button i{
					margin-right: 5px;
				    position: absolute;
			 		right: 200px;
				}
			}
		}
		&:hover {
	    	form {
	    		input {
		    		width: 215px;
		    		border-bottom-color: #dbdbdb;
		    	}
		    	button i{
					margin-right: 5px;
				    position: absolute;
			 		right: 200px;
				}
	    	}
	    }
	}
	.wd_tini_account_wrapper{
	    padding: 0 10px;
	    position: absolute;
	    right: 20%;
	    height: 20px;
	    .form_drop_down{
	    	position: absolute;
	    	bottom: 100%;
	    	margin-bottom: -15px;
	    	margin-left: 10px;
	    	min-width: 250px;
			border: 1px solid rgba(0,0,0,.15);
			@include box-shadow(0 6px 12px rgba(0,0,0,.175));
			z-index: 999;
			transition: all 0.5s ease 0.3s;
		    -ms-transition: all 0.5s ease 0.3s;
		    -webkit-transition: all 0.5s ease 0.3s;
		    -moz-transition: all 0.5s ease 0.3s;
			.form_wrapper{
				padding: 20px;
			}
			label{
				min-width: 100px;
			}
	    }
		.wd_tini_account_control .wd-title-header{
			color: #fff;
			font-size: 13px;
		}
	}
	.widget-woocommerce-currency-switcher .woocommerce-currency-switcher-form {
	    label{
	    	margin-bottom: 0;
	    }
	    .dd-selected-description, .dd-option-description{
	    	display: none;
	    }
	    .dd-options{
	    	box-shadow:none;
	    }
	}
	.wd-products-categories-list-content{
		padding-left:0;
	}
}
.wd-my-account-list{
	margin-bottom:0;
	padding:0 5px;
	li{
		list-style: none;
		line-height: 25px;
		a{
			color: #282828;
			&:hover{
				color: #a5a5a5;
			}
		}
	}
}
.wd-login-alert{
	label.error.wd-login-error{
		font-weight: normal;
		font-style: italic;
		color: #FF0000;
	}
}
.wd-login-form-image-loading{
	width:50px;
	margin: 0 auto;
	img{
		margin: 0 auto;
	}
}
.wd-home-09.wd-header-main, .wd-home-10.wd-header-main{
	border-bottom: 1px solid #dbdbdb;
    position: relative;
    &:before {
	    content: " ";
	    border-bottom: 1px solid #dbdbdb;
	    width: 200%;
	    position: absolute;
	    left: -200%;
	    bottom: -1px;
	}
	&:after{
		content: " ";
	    border-bottom: 1px solid #dbdbdb;
	    width: 200%;
	    position: absolute;
	    right: -200%;
	    bottom: -1px;
	}
	.wd_tini_cart_wrapper{
		margin-top: 10px;
	}
}
.wd-home-09.wd-header-bottom, .wd-home-10.wd-header-bottom{
	.ubermenu-nav{
		float: right;
		margin-top: 25px;
	}
}
.wd-home-09.wd-header-top, .wd-home-10.wd-header-top{
	.wpb_column:nth-child(2) .wpb_wrapper {
	    border-left: 1px solid #fff;
	    border-right: 1px solid #fff;
	}	
}
