/*unitest*/
.wd-header-menu-right {
	margin-top:40px;
	.nav.navbar-nav{
		float: none;
		ul {
			list-style-type: none;
			text-align: center;
			li {
				height: auto;
				vertical-align: middle;
				a{
					font-size: 15px;
					font-weight: 500;										
					text-transform: capitalize;
					position: relative; 
					color: #282828;
					&:hover {
						text-decoration: none;
					}
				}
				.children {
					display: none;
				}
				&:hover {
					.children {
						display: block;
					}
				}
			}
		}
	}
}
.wd-header-menu-right{
	.nav > li > a:hover, .nav > li > a:focus {
	    text-decoration: none;
	    background: none !important;
	}
}
.wd-shortcode-site-header.header-main {
	.site-logo{
		margin: 20px 0;
	}
}
.wd-content-footer{
	.wd-shortcode-site-header.header-main {
		.site-logo{
			margin-top: 0;
		}
	}
}
a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey{
	text-transform:uppercase;
	font-size:14px;
	padding: 5px 20px;
	border-radius:0;
	margin-top:20px;
	@extend %hover_button;
}
.widget {	
	.menu-primary-container {		
		margin-left: -15px;
		.menu {			
			height: 50px;	
			line-height: 50px;	
			li {
				display: inline-block;				
				a {		
					font-family: "Poppins", Helvetica, Arial, sans-serif;
					font-size: 15px;
					font-weight: 500;
					color: $main_bg_color;
					text-transform: capitalize;
					padding: 10px 30px;
					position: relative;
					&:after {
						content: "";
						width: 1px;
						height: 30px;
						position: absolute;
						top: 50%;
						right: -5px;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						transform: translateY(-50%);
						background-color: $colo-555;
					}
				}
				&.current-menu-item,&:hover,&:focus,&:visited {
					a {
						color: $colo-80deea;
					}
				}
				.sub-menu {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;					
    				z-index: 1000;
    				min-width: 160px; 
    				padding: 5px 0;
    				margin: 0;
    				font-size: 14px;
    				text-align: left;
    				background-color: $main_bg_color;
    				-webkit-background-clip: padding-box;
    				background-clip: padding-box;    				
    				border: 1px solid rgba(0,0,0,.15);
    				border-top: none;
    				border-radius: 0 0 4px 4px;
    				-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    				box-shadow: 0 6px 12px rgba(0,0,0,.175);
    				&:hover {
    					display: block;
    				}
    				li {    					
    					a{
    						color: $btn2_text_color;
    						&:after {
    							display: none;
    						}
    					}
    				}
				}
				&:hover {
					.sub-menu {
						display: block;
					}
				}
			}
		}
	}
}
%menu_text_level_0{
	@include changeColor($menu_text_color, $colorPrimary);
	@include transition;
	outline:none;
	box-shadow:none; 
	padding:0;
}
%sub-menu-dropdown{
	@extend %dropdown;
	background-color:$dropmenu_bg_color;
	@include box-shadow(0 -2px 10px #a3a3a3);
	color:$dropmenu_text_color;
	border-color:$dropmenu_bg_color;
	padding:0;
	margin:0;
	max-width:300px;
	list-style:none;
	padding:30px 0;
	top:100%;	
	&:before{
		content:'';
		position:absolute;
		left:0;
		bottom:-1px;
		background:#f3f3f3;
		height:3px;
		width:100%;
		z-index:100;
	}
}
/*==========menu horizontal==========*/
nav.ubermenu-horizontal{
	margin:0 auto; 
	text-align:center;
	padding-top:20px;
	.ubermenu-nav{
		display:inline-block!important;
		@media screen and (max-width: 959px){
			display:block!important;
		}
		@media only screen and (max-width: 767px){
			display:block!important;
		}
		li.ubermenu-item-level-0{
			float:none; 
			display:inline-block!important;
			> a{ 
				@extend %menu_text_level_0;
				&.ubermenu-target:after{padding:0; top:0px; margin-top:0px;}
				span{ 
					padding:0 30px 15px; 
					@include transition;
					font-weight: 500;
					color: #282828;
					&:hover{
						color: #a5a5a5;
					}
				}

			}
			> ul.ubermenu-submenu,> ul.ubermenu-submenu > ul.ubermenu-submenu-type-auto {
				background-color:$dropmenu_bg_color;
				color:$dropmenu_text_color;
				padding:0;
				margin:0;
				min-width:220px;
				-webkit-transition: all .8s ease 0s;
			    transition: all .8s ease 0s;
			    border: 1px solid #dbdbdb;
				.ubermenu-column{
					&.ubermenu-tab a{
						padding:5px 15px;
						@media screen and (max-width: 959px){
							border-bottom-color: $main_line_color;
							padding:15px 20px;
						}
						@media only screen and (max-width: 767px){
							border-bottom-color: $main_line_color;
							padding:15px 20px;
						}
					}
					
					&.ubermenu-item-header{
						>a.ubermenu-target{
							overflow: hidden;
							position:relative;
							img{
								margin-bottom: 20px;
								webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
							    transition: opacity 0.35s, -webkit-transform 0.35s;
							    transition: opacity 0.35s, transform 0.35s;
							    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
							}
							span.ubermenu-target-title{
								font-weight:400;
								color: #282828;
								text-transform:none;
							}
							&:hover{
								img{
									opacity: 1;
								    -webkit-transform: scale3d(1.05, 1.05, 1);
								    transform: scale3d(1.05, 1.05, 1);
								}
								span.ubermenu-target-title{
									color: #a5a5a5;
								}
							}
						}
						&.ubermenu-item-object-post > a.ubermenu-target span.ubermenu-target-title,
						&.ubermenu-item-object-product > a.ubermenu-target span.ubermenu-target-title{
							text-transform:none;
							@include changeColor($main_title_color, $colorPrimary);
							padding:0;
						}
					}
					&.ubermenu-item-object-ubermenu-custom{
						background:#f7f7f7;
						line-height:24px;
						padding: 25px 30px;
						img{margin-bottom:20px;}
						a.button{
							background:none;
							padding:0;
							color:$colorPrimary;
							text-transform:none;
							margin-top: 14px;
							@include changeColor($colorPrimary, $main_title_color);
							&:before{
								@include font-awesome(\f138,14px);
								margin-right:5px;
							}
						}	
					}
					&.ubermenu-item-object-custom{
						padding:15px;
						.ubermenu-submenu{
							li.ubermenu-item{
								margin-bottom:10px;
								width: 100%;
								img{
								    transition: all 0.2s;
								    -ms-transition: all 0.2s;
								    -webkit-transition: all 0.2s;
								    -moz-transition: all 0.2s;
								    margin-bottom: 15px;
								}
								&:hover{
									img{
									    border: solid 1px #282828;
									}
								}
							}
						}
					}
				}
				&.ubermenu-submenu-align-left_edge_item{
					padding:15px;
					li.ubermenu-item{
						a.ubermenu-target{
							padding:10px 0; 
							color:#282828;
							&:hover{
								color: #a5a5a5;
							}
						}
						&+li.ubermenu-item{
							border:none;
						}
					}
					.ubermenu-submenu-type-flyout {
					    top: 0;
					    margin-left: 15px;
					    background:#fff;
					    padding:15px;
					}
				}
				&.ubermenu-submenu-align-full_width{
					padding-top:0;
				}
				li{
					a{
						@include changeColor($main_text_color, $colorPrimary);
					}
				}	
				.ubermenu-submenu-type-stack{
					padding:0;
					position:relative;
					>.ubermenu-item-normal>.ubermenu-target{
						padding-top:6px;
						padding-bottom:6px; 
					}
				}
				.owl-controls{
					position:absolute;
					top: 40%;
			    	transform: translateY(-50%);
			    	width: 100%;
					.owl-prev{
						left: 0;
						font-size: 25px;
						background:#fff;
						color: #282828;
						padding:10px 5px;
						position:absolute;
						transition: all 0.2s;
					    -ms-transition: all 0.2s;
					    -webkit-transition: all 0.2s;
					    -moz-transition: all 0.2s;
						&:hover{
							background: #282828;
							color: #fff;
						}
					}
					.owl-next{
						right: 0;
						font-size: 25px;
						background:#fff;
						color: #282828;
						padding:10px 5px;
						position:absolute;
						transition: all 0.2s;
					    -ms-transition: all 0.2s;
					    -webkit-transition: all 0.2s;
					    -moz-transition: all 0.2s;
						&:hover{
							background: #282828;
							color: #fff;
						}
					}
				}
			}/*ul*/
		}/*li*/
	}/*.ubermenu-nav*/
	.ubermenu-tab-layout-left>.ubermenu-tabs-group{
		border:none;
		padding:27px 15px;
		background:#f7f7f7;
		li.ubermenu-item{
			margin-bottom:12px;
			.ubermenu-target-description{display:none;}
			.ubermenu-tab-content-panel{
				padding:40px 20px;
				img.ubermenu-image{margin-bottom:20px;}
			}
		}
	}
}/*nav.ubermenu-skin-wpdancebootstrap-style01*/
@media only screen and (max-width: 767px){
	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-tabs>.ubermenu-tabs-group>.ubermenu-tab>.ubermenu-tab-content-panel{
		background:#f9f9f9;
		border-color:transparent;
	}
}
.wd-header-menu, .wd-header-menu-right{
	.nav >ul, ul.nav{
		padding:0;
		margin:0;
		list-style:none;
		>li.page_item, >li.menu-item{
			display:inline-block;
			>a{					
				@extend %menu_text_level_0;
				padding:5px 10px; 
				display:inline-block;
			}
			&.page_item_has_children, &.menu-item-has-children{
				>a{
					&:after{
						@include font-awesome(\f107, 14px);
						margin-left: 10px;
						vertical-align: 0px;
					}
				}
			}
			ul.children, ul.sub-menu{
				@extend %sub-menu-dropdown;
				padding-top:0;
				padding-bottom:0;
				>li{
					padding:0 20px;
					position:relative;
					a{
						padding:10px 0;
						display:block;
					}
					&+li{
						a{
							border-top: 1px solid $main_line_color;
						}	
					}
					&:first-child{
						>a{border:none;}
					}
					ul.children, ul.sub-menu{					
						top: 0;
						left: 100%;
						li{
							ul.children{
								li{
									ul.children{		
										left:-100%;
									}
								}
							}	
						}	
					}						
					&:hover{
						>ul.children, >ul.sub-menu{
							opacity:1;
							visibility:visible;		
						}
					}
				}
			}
			&:hover{
				>ul.children, >ul.sub-menu{
					opacity:1;
					visibility:visible;
				}
			}
		}
	}
}
.wd-header-menu ul.nav > li.menu-item ul.sub-menu > li ul.sub-menu{left:-100%;}
.wd-navmenu{
	.widget_nav_menu{
		.menu{
			> li{
				&.menu-item-has-children{
					.sub-menu{
						display: none;
						-webkit-transform: scale(1,0);
					    -moz-transform: scale(1,0);
					    transform:scale(1,0);
						position: absolute;
						left: 0;
						width: 100%;
						background-color: #f2f2f2;
					    padding: 40px 70px;
					    text-align: left;
					    z-index: 100;
					    li{
							float: left;
							padding: 15px;
					    }
					}
					&:hover{
						.sub-menu{
							display: block;
							-webkit-transform: scale(1,1);
						    -moz-transform: scale(1,1);
						    transform:scale(1,1);
						}
					}
				}
			}
		}
	}
}
.ubermenu .ubermenu-item-layout-image_left>.ubermenu-target-text {
    padding-left: 0px !important;
    text-align: center;
}