

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media (max-width: 1599px) {

}

@media (min-width: 1069px) {
	.coming-soon .content-coming > div > .wpb_wrapper{ width:60%;}
	/* color scrollbar */
	.wd-related-posts {clear:both}
	::-webkit-scrollbar {
		background:#fff;
		width:11px;height:11px;
	}
	::-webkit-scrollbar-thumb {
		background:#888;
		border-radius:10px;
	}
}
@media (max-width:1024px){
	.woocommerce .product .summary div[itemprop="offers"]{
		margin-top: 75px;
	}
	.woocommerce .product .summary .availability{
		float:none;
	}
}

@media (max-width: 980px) {
	.product-bigger-image .product.list .wd_content_list{ padding:0 $var_space}
	.woocommerce .product .summary div[itemprop="offers"]{
		width:100%;
	}
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	body .site-header{
		position:relative;
	}
	.home,.home-black,.home-3{
		.site-header{ margin-bottom:0;}
	}
	/*=404==================================================*/
	body.error404 .site-content{ background:none;
		.error-404{ width:100%;}
	}
	
	/*=comming-soon==================================================*/	
	.coming-soon{
		.wpb_text_column p{
			font-size:250%; line-height:40px;
			&:first-child{
				font-size:200%;
			}
		}
		
		.ts-countdown-parent.style-1  .ts-countdown{ 
			.col { margin:0 $var_space/4;
				.ce-days,.ce-hours,.ce-minutes,.ce-seconds{ 
					min-width:60px; 
					span{ font-size:200%; }
				}
				.ce-days-label,.ce-hours-label,.ce-minutes-label,.ce-seconds-label{font-size:80%;}
			}
		}/*.ts-countdown*/
		
		.content-coming > div{ 
			> .wpb_wrapper{
				&:before{
					top:60px;
					bottom:178px;
				}
			}
		}
	}/*.coming-soon*/
	
	.small-width .wpb_wrapper{ width:100%;}
		
	.product-bigger-image .product.list{
		> a,.wd_content_list{ display:inline-block; width:100%;}
		.wd_content_list{ padding:$var_space;}
	}/*.product-bigger-image*/
	
	/*.woocommerce .products.grid div.product{ width:50%;}*/
	
	/*mobile menu*/

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24,.woocommerce .products.grid > .product{ width:100%; }
	
	/*=BlogSmallImage=================================*/
	.content_blog .small_image{
		> div{ padding:0;}
		.item_header{ width:100%; margin:0 0 $var_space!important;
			
		}
		.item_content{ overflow:visible; clear:left; padding: 0 ($var_space + 10px) ($var_space + 10px);}
		.conten_item_quote{ padding:($var_space + 10px);}
	}
	.woocommerce .product .summary .woocommerce-product-rating{
		float:none;
	}
	html .woocommerce .product .woocommerce-tabs .panel #reviews.woocommerce-Reviews #comments{
		width:100%;
	}
	html .woocommerce .product .woocommerce-tabs .panel #reviews.woocommerce-Reviews #review_form_wrapper{
		width:100%;
	}
	html .woocommerce .product .woocommerce-tabs .panel #reviews.woocommerce-Reviews #comments ol.commentlist li.comment .comment_container .comment-text .star-rating{
		float: none;
	}
	.woocommerce .wd-ralated-product .wd-ralated-content ul.products .owl-item li.product{
		display: inherit !important;
		margin:0;
	}
	html .woocommerce form.woocommerce-ordering{
		width: 100%;
		border: solid 1px #282828;
		margin-bottom: 20px;
	}
	.woocommerce .product .summary div[itemprop="offers"]{
		width:100%;
	}
	.wd-content-single .wd-info-post .wd-title-post{
		font-size:15px !important;
		h2.wd-heading-title{
			line-height: 1em;
		}
	}
	.wd-related_posts .wd-related-post .wd-related-wrapper .wd-related-slider .wd-related-item .wd-info-post .wd-title-post
	{
		font-size: 15px !important;
		h2.wd-heading-title{
			line-height: 1em;
		}
	}
	#wd-comments ol.wd-commentlist .comment{
		padding:10px;
		.comment-text {
			.comment-info-container{
				.comment-info{
					margin-top:0;
				}
			}
		}
	}
	#wd-comments #respond #commentform .comment-author-wrapper .col{
		width:100%;
	}
	#pl-118,#pl-116 .panel-grid-cell .so-panel .wd-wrap-content-blog{
		width:100%;
		padding:0;
		.wd-info-post{
			padding:10px;
		}
	}
	#pl-114 .panel-grid-cell .so-panel{
		.wd-thumbnail-post{
			width: 100% !important;
			height: auto !important;
			margin:0 !important;
		}
		.wd-info-post{
			height:auto !important;
			.wd-title-post{
				.wd-heading-title{
					@include h2_title_reponsive;
				}
			}
			.readmore{
				display:none;
			}
		}
	}
	#pl-112 .panel-grid-cell .so-panel .wd-info-post{
		.wd-title-post{
			h2.wd-heading-title{
				@include h2_title_reponsive;
			}
		}
		.readmore{
			display:none;
		}
	}
	#pg-205-0, #pg-205-1, #pg-205-2 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.background_footer{
		width: 100%;
	}

	#pl-233 .panel-grid .panel-grid-cell .widget_sow-button .so-widget-sow-button .ow-button-base a .sow-icon-fontawesome{
		display:none;
	}
	#pl-233 .panel-grid #pgc-233-0-3 .text_style_01 h3.widget-title{
		text-align: center;
		background: #303f9f;
		color: #fff;
	}
	#pl-233 .panel-grid {
		#pgc-233-0-3{ margin: 0;}
		#pgc-233-0-4{display:none;}
	}
	#pl-233 .panel-grid #pgc-233-2-3 .text_style_02 h3.widget-title{
		text-align: center;
		background: #303f9f;
		color: #fff;
	}
	#pl-233 .panel-grid {
		#pgc-233-2-3{ margin: 0;}
		#pgc-233-2-4{display:none;}
	}
	#pl-120 .panel-grid #pgc-120-0-0{
		width: 100% !important;
	}
	#pl-120 .panel-grid #pgc-120-0-1{
		width: 100% !important;
	}
	#pl-120 .panel-grid #pgc-120-0-2{
		width: 100% !important;
	}

	#pl-120 .panel-grid #pgc-120-1-3 .text_team h3.widget-title{
		text-align: center;
		background: #303f9f;
		color: #fff;
	}
	#pl-120 .panel-grid{
		#pgc-120-1-2{display: none;}
		#pgc-120-1-3{margin:0;}
		#pgc-120-1-4{display:none;}
		#pgc-120-4-2{display:none;}
		#pgc-120-4-3{
			.text_service h3.widget-title{
				text-align: center;
				background: #303f9f;
				color: #fff;
				margin-bottom: 0;
			}
		}
		#pgc-120-4-4{display:none;}
		#pgc-w5886450f8699c-0-2{ display:none;}
		#pgc-w5886450f8699c-0-3{margin-bottom:0;}
		#pgc-w5886450f8699c-0-4{display:none;}
	}
	.our_clients_a{padding:0 0 20px !important;}
	footer.footer #pg-205-2 .panel-row-style{width:100%;}
	.icon_left{
		display: none;
	}
	.icon_right{display: none;}
	#pl-223{
		.panel-grid{
			#pgc-w5892282ac0fa6-0-2{display: none;}
			#pgc-w5892282ac0fa6-0-4{display: none;}
			#pgc-w58922878e345b-0-2{display: none;}
			#pgc-w58922878e345b-0-4{display: none;}
			#pgc-w58922e0c3fd56-0-2{display: none;}
			#pgc-w58922e0c3fd56-0-4{display: none;}
			#pgc-w589352829bc71-0-4{display: none;}
			.panel-grid-cell{
				@include title_reponsive;
			}
		}
	}
	.title_number{width:auto !important;}
	.icon_number{
		float: right;
		margin-top: -85px;
	}
	.description_number{
		width: auto !important;
	}
	.background_more{padding:30px 0 !important;}
	.back_home p{width: 50% !important;}
	.wd-tab-style-tab-on-top-content .tabs li {
	    display: block;
	    margin: 10px 10px;
	}
	.main-content .products.grid_default .product, .main-content .products.grid .product {
	    padding: 0px 10px;
	}
	.wd-footer-main{
		.wp-footer-main-list ul li {
		    padding-bottom: 8px;
		    text-align: center;
			display: inline-block;
			margin: 0 5px;
		}
		.wp-footer-main-list h4 {
		    text-align: center !important;
		}
		.wpb_wrapper{
			.wpb_text_column.wpb_content_element{
				text-align: center;
			}
		}
		.wd-content{
			text-align: center;
		}
		.wpb_wrapper ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    text-align: center;
		}
	}
	html .woocommerce .product .woocommerce-tabs ul.tabs li{
		width: 100%;
		a {
		    width: 100%;
		    text-align: center;
		    margin-bottom: 10px;
		}
	}
	.height-image-home4 .wd-banner-plus-image img{
		height:300px;
	}
	.pp_pic_holder.pp_woocommerce{
		.pp_content_container{
			padding:20px;
		}
	}
	.wd-home-04 .wd-insta-content-wrapper{
		margin-left:15px;
	}
	.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
	    display:none;
	}
	html .woocommerce .cart-form form table.shop_table tbody tr td.product-quantity .product-quantity {
	    margin-top: 0px;
	}
	.wd-shortcode-product-slider-wrapper .wd-shortcode-product-slider .wd-products-wrapper .products .widget_per_slide {
	    margin-left: 15px;
	}
	.wd-blog-page.wd-main-content{
		padding:0 15px;
	}
	.wd-content-footer{
		.wd-shortcode-site-header.header-main {
			text-align: center;
		}
	}
}/*(max-width: 767px)*/

@media (max-width: 643px) {
	.woocommerce div.product #reviews{
		#comments,.wd-comment-form{
			width:100%; padding-right:0;
		}
		.wd-comment-form{ padding-top:$var_space;}
	}
}/*max-width: 643px*/

/* Mobile devices */
@media (max-width: 360px) {
	.ts-testimonials-slider-container .ts-testimonial-main.style3 .sign{ top:60px;}
	/*.woocommerce .products.grid div.product{ width:100%;}*/
	.ts-testimonials-slider-container .ts-testimonial-main.style3 .photo, .entry-content .ts-team2 > div:first-child{ margin-right:$var_space;}
	.ts-testimonials-slider-container .ts-testimonial-main.style3 .content, .entry-content .ts-team2 div.ts-team2-content{
		padding-top:$var_space/2!important;
	}
	.ts-testimonials-slider-container .ts-testimonial-main.style3 .sign{ margin-left:$var_space;}
	
	/* home-3**/
	.home-3 .content_blog .owl-wrapper-outer {
		.item_thumbnail{
			margin-right:0;
			width:100%;
		}
		.item_content{ clear:left; padding:$var_space;}

	}
}

/*=768 - 1024==================================================*/

	@media (min-width: 768px) and (max-width: 1024px){

		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a{ /*display:inline;*/}
		
		.wd-header-widget{
			.wd-header-widget-left{min-width: 100px;
			}
			.wd-header-widget-right{ width:320px;}
		}
		.title_number{width:auto !important;}
		.description_number{width:auto !important;}
		.title_month{margin: 0 55px !important;}

	}/*768 and 1024*/

@media (min-width: 768px) and (max-width:990px)
{
	.wd-header-widget{
		.wd-header-widget-left{
			.widget_search{ width:100%; }
		}
	}
	.icon_left{
		display: none;
	}
	.icon_right{display: none;}
	#pl-223{
		.panel-grid{
			#pgc-w5892282ac0fa6-0-2{display: none;}
			#pgc-w5892282ac0fa6-0-4{display: none;}
			#pgc-w58922878e345b-0-2{display: none;}
			#pgc-w58922878e345b-0-4{display: none;}
			#pgc-w58922e0c3fd56-0-2{display: none;}
			#pgc-w58922e0c3fd56-0-4{display: none;}
			#pgc-w589352829bc71-0-4{display: none;}
			.panel-grid-cell{
				@include title_reponsive;
			}
		}
	}
	.icon_number{
		float: right;
		margin-top: -85px;
	}
	/*Pricing-table=======================*/
	#pl-233{
		.panel-grid{
			#pgc-233-0-2{display: none;}
			#pgc-233-0-4{display: none;}
			#pgc-233-2-2{display: none;}
			#pgc-233-2-4{display: none;}
			.panel-grid-cell{
				@include title_reponsive;
			}
		}
	}
	/*404=====================*/
	.back_home p{width:30% !important;}
}
@media (min-width: 992px){
	.summary.entry-summary{
		padding-right:30px;
	}
	.wd-home-category{
	    padding:0 15px;
	  }
}
@media (min-width: 768px) and (max-width:1023px){
	.wd-shortcode-product-slider .products.list .widget_per_slide .star-rating {
	    display: none;
	}
	.vc_column_container{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 480px){
	.wd-columns-5 ul li, .wd-columns-8 ul li, .wd-columns-6 ul li, .wd-columns-4 ul li{
	    width: 100% !important;
	}
	
}
@media (max-width: 768px){
	.summary.entry-summary .wd-description-single-pro, .wd-single-product-summary-custom-content{
		width: 100%;
		float: left;
	}
}
@media (max-width: 991px){
	html {
	    overflow: initial !important;
	}
	.wd-content-home{
		padding:0 15px;
	}
	.wd-init-breadcrumb{
		margin:0 15px 15px 15px;
		padding:0 15px;
	}
	.shopping-cart .cart_size a > span {
	    padding: 0 7px;
	}
	.main-content .products.grid .product{
		margin-bottom: 40px;
	}
	.main-content .wd-slider-news .products.grid .widget_per_slide .product{
		margin-left: 0;
	}
	.main-content .slider-item-home5 .products.grid .widget_per_slide .product{
		margin-left: 0px;
	}
	.main-content .page-hom5 .products.grid_default .product{
	    padding: 0px;
	}
	.wd-special-products .wpb_column.vc_column_container{
		padding: 0;
	}
	.right-product-home2.wpb_column.vc_column_container, .left-product-home2.wpb_column.vc_column_container{
		.vc_column-inner{
			padding:0;
		}
	}
	.wd-banner-plus-text{
		text-align:center;
		padding: 0 10px;
	}
	.wd-home-05 .wd-instagram-wrapper.style-insta-1, .wd-home-05 .wd-instagram-wrapper.style-insta-2{
		padding: 0 15px;
	}
	.wd-product-archive-page.wd-main-content{
		padding: 0 15px;
	}
	.wd-woocommerce-page.wd-main-content, .wd-content-page.wd-main-content{
		padding: 0 15px;
	}
	.wd-content-footer{
		> .vc_row{
			> .vc_column-inner {
				padding: 0;
				.wd-instagram-wrapper.style-insta-1{
					padding: 0 15px;
				}
			}
		}
	}
	.wd-slider-news{
		.wd-shortcode-banner {
			padding:0 15px;
		}
	}
	.wd-shortcode-banner-plus .wd-banner-plus-button a{
		padding: 5px;
	}
	.wd-columns-5 ul li, .wd-columns-8 ul li, .wd-columns-6 ul li, .wd-columns-4 ul li{
	    width: 50% !important;
	    position: relative;
	}
	.wd-shortcode-banner-plus.wd-banner-image-position-content-outside-right .wd-banner-plus-body.wd-banner-plus-with-border_content {
	    text-align: center;
	    padding: 0;
	}
	.page.type-page{
		.wd-products-categories-list-content.text-left, .wd-title-heading{
			text-align:center;
		}
		.banner-home6-left.wpb_column.vc_column_container, .banners-laparis-6.text-banner-home-6.banner-home6-right.wpb_column.vc_column_container{
			padding: 0;
		}
	}
	.page-about .feature_information {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.page-about .wd-feature-content-list div:nth-child(3) {
	    float: none;
	    margin-top:30px;
	}
	.page-about .wd-feature-content-list div:nth-child(2) .feature_information {
	    margin-bottom:30px;
	}
	.contact-page span {
	    padding: 0;
	}
	.left-sidebar aside{
		padding:0 15px;
	}
	.page{
		.contact-page{
			margin:0;
		}
	}
	.wd-home-01 .wp-footer-main-list, .wd-home-04 .wp-footer-main-list, .wd-home-05 .wp-footer-main-list {
	    margin-bottom: 10px;
	}
	.home-6{
		.wd-slider-news .wd-shortcode-banner {
		    padding: 0;
		}
	}
	html .woocommerce-account .woocommerce-MyAccount-content {
	    width: 100%;
	    padding-left: 0px;
	}
	html .woocommerce-account .woocommerce-MyAccount-navigation {
	    margin-bottom: 30px;
	    width: 100%;
	}
	.woocommerce .woocommerce-result-count{
		padding: 5px 20px;
		width: 100%;
		position:relative;
    	border: solid 1px #282828;
    	margin-bottom: 20px;
	}
	.wpb_wrapper .feature_content_wrapper .feature_information {
	    margin-bottom: 0;
	}
	.wd-content-footer .subscribe_widget {
		margin:0 15px;
	}
	.commingsoon .subscribe_widget .subscribe_form button {
	    position: absolute;
	    top: 100%;
	    width: 100%;
	    left: 50%;
	    margin-top: 10px;
	    -webkit-transform: translateX(-50%);
   		-moz-transform: translateX(-50%);
    	transform: translateX(-50%);
	}
	.wd-home-02 .wd-instagram-wrapper {
		padding: 0 15px;
	}
	.wd-search-form-wrapper input::-webkit-input-placeholder {
	  color: #fff; }

	.wd-search-form-wrapper input:-moz-placeholder {
	  color: #fff; }

	.wd-search-form-wrapper input::-moz-placeholder {
	  color: #fff; }

	.wd-search-form-wrapper input:-ms-input-placeholder {
	  color: #fff; }
	.wd-content-single-product, .wd-single-post-wrap{
		padding:0 15px;
	}
	.woocommerce.woocommerce-page.wd-quickshop-detail-page .row.images{
		margin: 0;
	}
	div.pp_woocommerce .pp_close::before {
	    font-size: 14px !important;
	}
	.wd-popup-search.show {
		.searchform {
		    left: 10%;
		}
		.searchform button {
		    right: 0%;
		}
	}
	div.wd-columns-4{
		ul.products.grid li{
			.wd-button-shop .wd-button-add-to-cart, .wd-button-shop .wd-button-add-to-cart a{
				font-size: 0;
			}
		}
	}
	.wd-footer-top{
		padding: 30px 0 30px;
		margin-top: 40px;
	}

}
