.widget_shopping_cart {
	.widget_shopping_cart_content {
		.buttons {
			a {
				border-radius: 0;
				&.wc-forward {
					background-color: #212121;
					border:solid 1px #212121;
					padding: 10px;
					font-weight: 500;
					&:hover{
						background:#fff;
						color: #212121;
					}
				}
			}
		}
		.cart_list {
			a:hover{
				color: $main_title_color_blog;
			}
		}
	}
}
.widget {		
	&.widget_price_filter {
		.price_slider_amount{
			.button{
				background-color: #212121;
				border:solid 1px #212121;
				border-radius: 0;
				outline: none;
				padding:10px;
				font-weight: 500;
				&:hover {
					background:#fff;
					color: #212121;
				}
			}
		}
	}
}
.star-rating{
	font-family: star;
	font-size: 12px;
	overflow: hidden;
	position: relative;
	height: 1.3em;
	letter-spacing: 2px;
	width: 72px;
	&:before {
		content: "\73\73\73\73\73";
		color: #d3ced2;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	span {
	    overflow: hidden;
	    float: left;
	    top: 0;
	    left: 0;
	    position: absolute;
	    padding-top: 1.5em;
	    &:before {
			content: "\53\53\53\53\53";
			color: $colo-e64a19;
			top: 0;
			position: absolute;
			left: 0;
	    }
	}
}
aside.widget {
	ul li {
		&:hover {
			a {
				color: #282828 !important;
				font-weight: 600;
				margin-left: 5px;
			}
		}
	}
	&.widget_special_blog{
		ul li {
			&:hover {
				a {
					margin-left: 0;
					font-weight: 500;
				}
			}
			a{
				font-size: 13px;
			}
		}
	}
	&.widget_wd_pc_color_nav, &.widget_layered_nav, &.widget_shopping_cart{
		ul li {
			&:hover {
				a {
					margin-left: 0;
				}
			}
		}
	}
	.wd-info-post .wd-title-post h2.wd-heading-title a {
	    font-size: 13px;
	}
}
.woocommerce{
	.woocommerce-info {
		.showcoupon {
			color: #212121;
		}
	}
	p.stars {
		a{
			&:before{color:#e64a19;}
		}
	}
	.woocommerce-checkout #payment {
		border-radius: 0;		
	}
	#payment #place_order,&.woocommerce-page #payment #place_order {
		&:hover,&:active,&:focus {
			background-color: $main_title_color_blog;
			color: #fff;
		}
	}
	
	
	ul.products li.product {
		.price del {
			color:  $color-212121;
			opacity: 1;
			display: inline-block;
			padding-right: 5px;
			.amount{
				color:  $color-212121;
				font-size: 22px;
			}
		}
		.woocommerce-loop-product__title {
			font-size: 14px;
			font-weight: 600;
			padding: 0;
			margin: 0 0 15px;
			color: #282828;
		}
	} 
} 
.woocommerce-result-count{
	float:left;
}
.wd-products-wrapper{
	clear:both;
}
.woocommerce-error {
	.wc-backward {
		color: $main_title_color_blog;
	}
}
.term-description{display:none;}
html .woocommerce .woocommerce-result-count, html .woocommerce-page .woocommerce-result-count{display:block;}
#options.gridlist-toggle{
	float: right;
	clear:none;
	margin-bottom:40px;
	ul.option-set{
		margin:0;
		li{
			width: 30px;
			height: 30px;
			line-height: 30px;
			background:none!important;
			color: #999;
			text-indent: 0;
			text-align:center;
			list-style: none;
			float: left;
			cursor: pointer;
			border: 1px solid #e1e1e1;
			margin-left: 12px;
			&:after{
				content:none!important;
			}
			i{display:none;}
			&#list{
				&:before{
					@include font-awesome(\f00b, 13px);
					pointer-events: none;
					cursor: pointer;
				}
			}
			&#grid{
				&:before{
					@include font-awesome(\f00a, 13px);
					pointer-events: none;
					cursor: pointer;
				}
			}
			&.active, &:hover{
				color: #282828;
				border: 1px solid #282828;
			}
		}
	}
}
form.woocommerce-ordering{
	float: right;
	margin-bottom:40px;
	position: relative;	
	&:before {
		content: "";
		@include font-awesome(\f107, 14px);
	    color: #282828;
	    position: absolute;
	    top: 50%;
	    right: 15px;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	select{
		height: 30px;
		border:none;		
		color:#7b7b7b;
		padding:0 20px;
		outline: none;
		width:100%;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-prefix-appearance: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		background: transparent;
		position: relative;
		z-index: 5;
		border-radius: 0;
	}
}
.woocommerce, .main-content{
	.wd-products-wrapper{
		ul.products.list li{
			width:100% !important;
			margin-bottom: 25px;
			float: left;
		    list-style: none;
		    padding: 0 10px;
			@media only screen and (min-width: 768px){
				display: flex;
				padding: 0;
			}
			.wd-thumbnail-product{
				float: left;
			    margin-right: 20px;
			    margin-bottom: 0px;
			    max-width: 33.333333%;
			    margin-bottom: 10px;
			    @media only screen and (max-width: 480px){
					max-width:100%;
					margin-right: 0;
					float: none;
				}
			}
			.wd-content-detail{
				.woocommerce-loop-product__title{
					margin-top: 0;
					line-height: 20px;
					font-size: 14px;
					color: #282828;
				}
			}
		}
	}
}

.wd-loadmore{
	text-align:center;
	margin-bottom:30px;
	.show_image_loading{
		margin-bottom: 30px;
	}
	.load_more_masonry{
		span{
			padding:10px;
			border:solid 1px #282828;
			color:#282828;
		}
		a.button.btn_loadmore_masonry_portfolio{
			@extend %hover_button;
		}
	}
	#loadmore {
		.btn_loadmore_blog {
			font-size: 13px;
			font-weight: 500;
		    padding: 10px 25px;
			background-color: #212121;
			border:solid 1px #212121;
			text-transform: uppercase;
			color: #fff;
			@include border-radius(0);
			&:after{
				@include font-awesome(\f105, 14px);
				margin-left: 5px;
				color: #fff;
				background-color: transparent;
			}
			&:hover {
				background-color: #fff;
				border:solid 1px #212121;
				color: #212121;
			}
		}
	}
}
.wd-shortcode-special-pro .wd-pagination{text-align:center;}
.wd_quickshop{
	.images{
		.thumbnails{
			position:relative;
			margin-top:30px;
			ul.qs-thumbnails{
				li{
					float:left;
					list-style: none;
					padding: 0 10px 10px 0;
					a{
						float:none;
						width:100%;
						margin:0;
					}
				}
			}
			.slider_control{
				@extend %slider_control;
				a{top:-18px;}
			}
		}
		.details_view{
			a{
				font-weight: 600;
				padding: 5px 10px;
				float: right;
				&:hover{
					color: #fff;
					background:#212121;
				}
			}
		}
	}
}
.cloud-zoom-lens{display:none!important;}
.wd-products-wrapper{
	.products.list{
		.wp_description_product{
			margin-bottom: 25px;
		}
	}
}
aside{
	margin-bottom:30px;
	.textwidget{
		img{
			margin:10px 0 30px;
		}
	}
	select{
		height: 40px;
		width: 100%;
	}
	ul li{
		span>a{
			color: #282828;
			&:hover{
				color: #a5a5a5 !important;
			}
		}
	}
}
// .widget{
// 	h2.widget-title{
// 		margin-top: 0;
// 	    font-size: 14px;
// 	    text-transform: uppercase;
// 	    border-bottom: 1px dotted #454545;
// 	    padding-bottom: 15px;
// 	    margin-bottom: 15px;
// 	    color: #282828;
// 	    font-weight: 600;
// 	}
// 	ul li{
// 		>a{
// 			color: #282828;
// 			&:hover{
// 				color: #a5a5a5 !important;
// 			}
// 		}
// 	}
// }
.wd-products-wrapper.grid-list-action{
	.products.grid{
		margin-left: -15px;
		margin-right: -15px;
	}
}
.wd-content-single-product{
	.onsale{
		z-index: 100;
	}
	.woocommerce-message {
	    border-top-color: #282828;
	    &:before {
		    content: '\e015';
		    color: #282828;
		}
		a.button.wc-forward{
			border-radius:0;
			padding:10px;
		}
	}
}
.woocommerce .product .summary .woocommerce-product-rating{
	margin-bottom: 10px;
}
.summary.entry-summary{
	.wd-description-single-pro{
		.product_title.entry-title{
			font-size: 20px;
		    line-height: 20px;
		    font-weight: 600;
		    text-transform: uppercase;
		    margin: 0 0 10px;
		}
		.price{
			.woocommerce-Price-amount.amount{
				font-size: 18px;
				color: #000;
				font-weight: 600;
			}
			ins{
				text-decoration: none;
				float: left;
				margin-right: 20px;
				&:after{
					content: "";
					clear: both;
				}
			}
			del{
				margin-left: 0px;
				margin-top: 0;
				.amount{
					font-weight: 600;
					color: #8b8b8b !important;
				}
			}
			&:after{
				content: "";
				clear: both;
			}
		}
	}
	.wd-single-product-summary-custom-content{
		.wd-feature-content-list{
			div:nth-child(2){
				li{
					border-left:dotted 1px #282828;
					border-right:dotted 1px #282828;
					@media (max-width: 768px) {
						border:none;
					}
				}
			}
		}
		.wd-feature-content-list-item{
			padding:10px 30px 0 30px;
			@media (max-width: 768px) {
		    	padding:10px;
		    }
			.wd-feature-readmore{
				.feature_thumbnail_image{
					font-size: 9px;
				}
				.feature_information{
					.feature_title.heading_title{
						font-size: 14px;
						color: #282828;
					}	
				}
			}
		}
	}
	.wd_group_button_single_product{
		.group_table{
			margin-bottom: 15px;
		}
	}
}
.woocommerce div.product form.cart {
    margin-bottom: 0;
}
.wd_quickshop{
	form.cart{
		margin-bottom: 0;
		.yith-wcwl-add-to-wishlist {
		    float: left;
		    width: 100%;
		    height: 50px;
		    position: relative;
		}
		a.compare.button, .yith-wcwl-add-to-wishlist .show a{
			width: 100%;  
		}
	}
}
.pp_content_container{
	.row.images{
		width: 52%;
	}
	.woocommerce .product .summary p.price span {
	    color: #282828;
	    text-transform: capitalize;
	    font-size: 18px !important;
	    font-weight: 500;
	}
	.slider_control{
		.prev, .next{
			position:absolute;
			top:50%;
		}
	}
	.qs-thumbnail-list.thumbnails{
		margin-top: -14px;
		button{
			&:before{
				color: #000;
			}
			&.slick-prev, &.slick-next{
				top: 105%;
			}
			&.slick-prev{
				left: 0;
			}
			&.slick-next{
				right: 0;
			}
		}
	}
	.details_view{
		position:absolute;
		left:0;
		bottom:0;
	}
}
.wd_quickshop.product{
	float:left;
	width:100%;
	.wd-social-share{
		display: none;
	}
}
.woocommerce-error {
    border-top-color: #282828 !important;
}
.woocommerce-error::before {
    color: #282828 !important;
}
form.cart{
	.button.single_add_to_cart_button {
	    vertical-align: middle;
	    float: none;
	    width: 100%;
	    padding: 15px 30px;
	    height: 50px;
	    line-height: 1.65;
	    border: solid 1px #282828;
	    background: #282828 !important;
	    color: #fff;
	    text-transform: uppercase;
	    border-radius:0;
	    margin-bottom: 15px;
	    &:hover{
	    	background:#fff !important;
	    	color: #282828 !important;
	    	border: solid 1px #282828;
	    }
	}
	a.compare.button{
		float:left;
	    width: 50%;
	    height: 50px;
	    line-height: 1.65;
	    border: solid 1px #282828;
	    border-right:none;
	    background: #fff !important;
	    color: #282828 !important;
	    font-weight: 500;
	    text-transform: uppercase;
	    font-size: 14px;
	    position: relative;
	    @media (max-width: 992px){
	    	font-size: 0;
	    	margin-bottom: 15px;
	    }
	    &:before{
	    	color: #282828;
	    	margin-right: 5px;
	    }
	    &:hover{
	    	border: solid 1px #000;
		    background: #282828 !important;
		    color: #fff !important;
		    &:before{
		    	color: #fff;
		    	margin-right: 5px;
		    }
	    }
	}
	.yith-wcwl-add-to-wishlist{
		float:left;
	    width: 50%;
	    height: 50px;
	    position: relative;
	    .show a{
	    	line-height: 1.65;
		    border: solid 1px #282828;
		    background: #fff !important;
		    color: #282828 !important;
		    font-weight: 500;
		    text-transform: uppercase;
		    font-size: 14px;
		    margin-bottom: 15px;
		    width: 100%;
		    height: 50px;
		    @media (max-width: 992px){
		    	font-size: 0;
		    }
		    &:before{
		    	color: #282828;
		    	margin-right: 5px;
		    }
		    &:hover{
		    	border: solid 1px #000;
			    background: #282828 !important;
			    color: #fff !important;
			    &:before{
			    	color: #fff;
			    	margin-right: 5px;
			    }
		    }
	    }
	    img.ajax-loading{
	    	position:absolute;
			width: 16px;
			height: 16px;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
	    	transform: translate(-50%, -50%);
	    }
	}
}
.wd-single-product-images.images{
	.wd-sale-featured-flash{
		position: absolute;
	    top: 10px;
		z-index: 99;
		margin-left: 10px;
		span{
			display: block;
		}
	}
}
.pp_pic_holder .wd-sale-featured-flash{
	position: absolute;
    top: 10px;
	z-index: 99999;
	margin-left: 10px;
	span{
		display: block;
	}
}
.wd-thumbnail-product{
	display: block;
	position: relative;
	overflow: hidden;
	img{
		-webkit-transition:  all .3s ease;
	    -moz-transition: all .3s ease;
	    transition: all .3s ease;
	}
	.wd-sale-featured-flash{
		position: absolute;
		left: 10px;
	    top: 10px;
		z-index: 20;
		span{
			display: block;
		}
	}
	.onsale{
		background: #f3b26b;
		color: #fff;
		font-size: 11px;
	    font-weight: 400;
	    text-transform: uppercase;
	    border-radius: 0;
	    line-height: 1.5;
	    height: auto;
	    padding: .15385rem .76923rem;
	    -webkit-transition: .8s ease;
		transition: .8s ease;
		position: relative;
		margin-bottom: 5px;
		min-width: auto;
		min-height:auto;
		top:0;
		left: 0;
		&:after {
		    content: ' ';
		    font-size: 0;
		    border-left: 10.1px solid #f3b26b;
		    border-top: 9.1px solid transparent;
		    border-bottom: 10.1px solid transparent;
		    position: absolute;
		    top: 0;
		    right: -9.75px;
		}
	}
	.featured{
		background: #f36b6b;
		color: #fff;
		font-size: 11px;
	    font-weight: 400;
	    text-transform: uppercase;
	    border-radius: 0;
	    line-height: 1.5;
	    height: auto;
	    padding: .15385rem .76923rem;
	    -webkit-transition: .8s ease;
		transition: .8s ease;
		position: relative;
		margin-bottom: 5px;
		min-width: auto;
		min-height:auto;
		&:after {
		    content: ' ';
		    font-size: 0;
		    border-left: 10.1px solid #f36b6b;
		    border-top: 9.1px solid transparent;
		    border-bottom: 10.1px solid transparent;
		    position: absolute;
		    top: 0;
		    right: -9.75px;
		}
	}
	img{
		border: 0;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    margin: auto;
	    width: 100%;
	    margin:0 !important;
	}
}
.price{
	.woocommerce-Price-amount.amount{
		font-size: 14px !important;
		color: #000;
		font-weight: 600;
	}
	ins{
		text-decoration: none;
		float: left;
		&:after{
			content: "";
			clear: both;
		}
	}
	del{
		margin-left: 10px;
		.amount{
			font-weight:600;
			color: #8b8b8b !important;
		}
	}
	&:after{
		content: "";
		clear: both;
	}
}
.pp_content_container{
	.woocommerce .summary{
		.wd_color_image_swap{
			position:relative;
			top: 0;
			right: 0;
			margin-top: 10px;
			div{
				width: 30px !important;
				height: 30px !important;
				&:hover{
					border:solid 1px #000;
				}
			}
		}
		.variations{
			select{
				border-radius:0;
				margin-top: 10px;
			}
		}
	}
}
.woocommerce ul.products li.product .star-rating{
	font-size:12px; 
}
.wd_group_button_single_product{
	.variations_form.cart{
		margin-bottom: 0;
	}
}
.related.products.grid{
	.related_wrapper{
		overflow:hidden;
	}
}