/*==========sidebar==========*/
%title_sidebar{
	color: $main_title_color_blog;
	text-transform:uppercase;
	margin:0 0 20px;
}
.wd-header-menu-wrap {
	@include transition;
	&.sticky {
	    position: fixed;
	    top: 0;
	    width: 1200px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;	
	}
}
.widget_instagram {
	.instagram-pics {
		margin: 0 -5px;
		li {
			width: 33.33%;
			float: left;
			padding: 5px;
			a {
				position: relative;
				display: block;
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba(48,63,159,0.5);
					opacity: 0;
					@include transition;
				}
				&:after {
					content: "+";
					font-size: 50px;
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					opacity: 0;
					@include transition;
				}
			}
			&:hover {
				a {
					&:before, &:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

.widget{
	.slide-menu-left{
		position: relative;
		text-align: left;
		.widget-title{
			font-size: 15px;		
			text-transform: capitalize;
			background-color: #000;
			color: $header_text_color2;
			padding: 12px 20px;
			margin: 0;
			position: relative;
			cursor: pointer;
			
			&:after {
				content: "\f0c9";
				font: normal normal normal 14px/1 FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 50%;
				right: 20px;
				-webkit-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			
		}
		.menu-shop-by-category-container,#mega-menu-wrap-primary_right {			
			border: 1px solid $colo-d7d7d7;	
			background-color: $main_bg_color;
			width: 100%;
			position: absolute;
			top: 100%;		
			left: 0;
			z-index: 1000;
			border-radius: 0 0 4px 4px;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			li {
				border-bottom: 1px solid $colo-d7d7d7;
				padding: 0 20px;
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					a {	
						color: $main_title_color_blog;
						
					}
					.sub-menu{	
						li {
							a {
								color: $btn5_add_button;
							}
						}
					}
				}
				a {
					color: $btn5_add_button;
					text-transform: capitalize;					
					display: block;
					line-height: 50px;
					height: 50px;
				}
				&.menu-item-has-children {
					position: relative;
					.sub-menu{						
						background-color: $main_bg_color;
						min-width: 200px;
						margin-left: 5px;
						position: absolute;
						top: 0;
						left: 100%;
						-webkit-transform: scale(0,0);
						-moz-transform: scale(0,0);
						transform: scale(0,0);
						@include transition;
						-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
						box-shadow: 0 6px 12px rgba(0,0,0,.175);	
						li {							
							display: table;
							a {
								line-height: normal;
								display: table-cell;
								vertical-align: middle;
							}
						}					
					}
					&:hover {
						.sub-menu{				
							-webkit-transform: scale(1,1);
							-moz-transform: scale(1,1);
							transform: scale(1,1);

						}
					}
				}
			}
		}
	}	
}
.woocommerce.widget.wd_widget_recent_onsaleproduct_wrapper.style_02 .product_detail_wd .product_info_wd a h3:hover {
	color: $main_title_color_blog;
}
.woocommerce {
	.widget {
		&.widget_layered_nav{
			ul.wd-product-filter-by-attr{
				li{
					width: 45%;
				}
			}
			ul{
				width: 100%;
				float: left;
				margin-bottom: 30px;
				li{
					padding:0;
					width: 100%;
					float: left;
					height: 30px;
					margin:0 10px 10px 0;
					span.count {display:none;}
					a{			
						background:none;
						color:#282828;
						text-transform:uppercase;
						display: block;
						text-align: left;				
						line-height: 30px;
						padding: 0 10px;
						position: relative;
						padding-left:35px;
						&:before{
						    font: normal normal normal 14px/1 FontAwesome;
							content: "";
							color: #282828;
						    width: 20px;
						    position: absolute;
						    height: 20px;
						    border: solid 1px #282828;
						    left: 0;
						    top: 5px;
						}
						&:hover{
							color:$btn2_text_color;
						}
					}
					&.chosen{
						a:before{
							content: "\f00c"; 
							font-size: 11px;
							padding-top:4px;
							padding-left:3px;
						}
					}
				}			
			}
		}		
	}
}


.widget{
	.widget-title{
		@extend %title_sidebar;
	}
	ul{
		padding:0;
		margin:0;
		list-style:none;
	}
	&.wd_widget_product_categories{
		ul.dropdown_mode.is_dropdown > li > a{
			font-weight: 400;
			color: #282828 !important;
			margin-left: 0;
			&:hover{
			    font-weight: 600;
			    margin-left: 0px;
			}
		}
		ul.dropdown_mode.is_dropdown{
			li, li.cat-item{
				position:relative;
				padding:3px 0;
				a{
					text-transform:uppercase;
					font-size: 13px;				
				}
				a.current{
					font-weight: 600;
				}
				a.wd-product-cat-accordion-parrent-wrap{
					position: relative;
					width: 100%;
					span.wd-product-cat-accordion-icon{
						&:after{
							position: absolute;
						    right: 10px;
						    top: 50%;
						    margin-top: -6px;
						    content: "+";
						    display: inline-block;
						    font-family: FontAwesome;
						    font-style: normal;
						    font-weight: 400;
						    line-height: 1;
						    color: inherit;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    color: #282828;
						}
					}
					&.active{
						span.wd-product-cat-accordion-icon{
							&:after{
								position: absolute;
							    right: 10px;
							    top: 50%;
							    margin-top: -13px;
							    content: "_";
							    display: inline-block;
							    font-family: FontAwesome;
							    font-style: normal;
							    font-weight: 400;
							    line-height: 1;
							    color: inherit;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							    color: #282828;
							}
						}
					}
				}
				ul.sub_cat{
					margin-left: 10px;
					> li > a{
						font-weight: 400;
						margin-left: 0;
						&:hover{
						    font-weight: 600;
						    margin-left: 0px;
						}
					}
					&> li > a.current{
						font-weight: 600;
					}
				}
			}
		}
	}
	&.widget_product_categories, &.widget_categories, &.widget_archive, &.widget_recent_entries, &.widget_pages, &.widget_meta, &.widget_recent_comments, &.widget_rss, &.widget_text{
		ul.product-categories, ul{
			li, li.cat-item{
				position:relative;
				padding:3px 0;
				&.cat-parent{
					&:before{
						@include font-awesome(\f13a, 14px);
						float:right;
						margin-top: 4px;
						color:$colorPrimary;
					}
				}
				a{
					@include changeColor($main_text_color, $colorPrimary);
					text-transform:uppercase;
					font-size: 13px;				
				}
				.children{
					position:absolute;
					top:-21px;
					left:100%;
					z-index:10;
					background:#fff;
					border:1px solid $main_line_color;
					transform:scale(1,0);
					-webkit-transform:scale(1,0);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					opacity:0;
					@include transition;
					width: 250px;
					padding: 20px;
				}
				&:hover{
					z-index:1000;
					>ul.children{
						transform:scale(1,1);
						-webkit-transform:scale(1,1);
						opacity:1;
					}
				}
				@at-root {
					.right-sidebar{
						.widget.widget_product_categories ul.product-categories li{
							.children{
								left:auto;
								right:100%;
							}
							&:hover{
								.children{
									z-index:1000;
								}
							}
						}
					}
				}
			}
		}	
	}
	&.widget_wd_pc_color_nav{
		ul{
			overflow:hidden;
			li{
				float:left;
				margin:0 20px 8px 0;
				span, small{display:none;}
				a{
					>div{
						width:20px!important;
						height:20px!important;
						&:hover{
							border:solid 2px #282828;
						}
					}
				}
				&.active{
					a{
						>div{
							border:solid 2px #282828;
						}
					}
				}
			}
		}
	}
	&.widget_price_filter{
		.price_slider_wrapper{
			.price_slider{
				height:4px;
				background:$main_line_color;
				margin-bottom:20px;
				margin-top: 25px;
				border-radius:0;
				.ui-slider-range{
					border-radius:0;
					background-color:$colorPrimary;
				}
				.ui-slider-handle{
					width:15px;
					height:15px;
					background:#fff;
					border:1px solid $btn4_bg_color;
					top:-6px;
				}
			}
			.price_slider_amount{
				.price_label{					
					font-size: 14px;
				}
			}
		}
	}	
	&.wd_widget_recent_onsaleproduct_wrapper {
		&.style_02{
			position:relative;			
			.product_detail_wd{
				overflow:hidden;			
				margin-bottom:20px;	
				/* display: table; */						    
				display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-flex-wrap: wrap;
			    -moz-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -moz-align-items: center;
			    -ms-align-items: center;
			    -o-align-items: center;
			    align-items: center;
				.product_thumbnail_wd{
					width: 35%;
					overflow: hidden;					
					border: 1px solid #e0e0e0;
					position:relative;
					padding: 5px;				
					border-radius: 2px;					
					@include transition;		
					&:hover {
						border-color: $main_title_color_blog;
						img {							
							-webkit-transform: scale(1.1);
							-moz-transform: scale(1.1);
							transform: scale(1.1);							
						}
					}						
					img {
						@include transition;
					}
				}
				.product_info_wd{
					overflow:hidden;
					padding-left:20px;
					text-align: left;
					width: 65%;
					a{
						h3{
							@include changeColor(#616161, $colorPrimary);
							font-weight: 500;
							margin:0;						
						}
					}						
					.price {
						.woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
							font-weight: bold;
							font-size: 16px;
						}

					}
				}
				
			}
			.slider_control{
				a{
					display:block;
					position:absolute;
					top:0;
					width:22px;
					height:22px;
					text-align:center;
					line-height: 22px;
					font-size:0;
					border-radius:3px;
					background: #dee2e5 !important; 
					color: #fff !important;
					&:hover{						
						background: $main_title_color_blog !important;
					}
					&.next{
						right:0;
						&:before{
							@include font-awesome(\f105, 12px);
						}
					}
					&.prev{
						right:25px;
						&:before{
							@include font-awesome(\f104, 12px);
						}
					}
				}
			}
		}
	}
	&.widget_search{
		form.searchform{
			position:relative;
		    clear: none;
		    border: 1px solid #e1e1e1;
		    background:none;	
			input[type='text']{
				height:48px;
				width:100%;
				border-radius:3px;
				background:#fff;
				padding:0 20px;
				font-size:13px;
				color:$main_text2_color;
				border:none;
			}
			button{
				position:absolute;
				background:none;
				width:40px;
				height:48px;
				right:0;
				top:0;
				color:$main_title_color;
				padding:0;
			}
		}
	}
	&.widget_social{
		ul.social-share{
			li{
				display:inline-block;
				margin:0 7px 10px 0;
				a{
					display:block;
					width:37px;
					height:37px;
					line-height:37px;
					text-align:center;
					color:#fff;
					border-radius:3px;
					background:#f1f1f1;
					i{font-size:16px;}
				}
				&.icon-facebook{
					a{background:#3b5997;}
				}
				&.icon-twitter{
					a{background:#29c5f6;}
				}
				&.icon-google{
					a{background:#43698f;}
				}
				&.icon-instagram{
					a{background:#b16c4f;}
				}
				&.icon-pin{
					a{background:#c61118;}
				}
				&.icon-rss{
					a{background:#ff6600;}
				}
				&.icon-youtube{
					a{background:#c61118;}
				}
			}
		}
	}
	&.widget_recent_post{
		position:relative;
		.widget_per_slide{
			li{
				list-style:none;
				overflow:hidden;
				.wd-thumbnail-post{
					float:left;
					width:100px;
					margin:0 20px 0 0;
				}
				.wd-infomation-post{
					overflow:hidden;
					.wd-date-post{
						font-size:12px;
						color:#a3a3a3;
						margin-bottom:5px;
					}
					.wd-entry-title{
						a{
							@include changeColor($main_title_color, $colorPrimary);
						}
					}
				}
				&+li{
					padding-top:20px;
					margin-top:20px;
					border-top:1px solid $main_line_color;
				}
			}
		}
		.slider_control{
			@extend %slider_control;
		}
		.wd-read-more{
			margin:20px 0 0;
			a{
				color:$colorPrimary;
				text-transform:capitalize;
				&:before{
					@include font-awesome(\f138, 14px);
					margin-right:10px;
				}
			}
		}
		.style-2{
			.widget_per_slide{
				&+.widget_per_slide{
					padding-top:20px;
					margin-top:20px;
					border-top:1px solid $main_line_color;					
				}
			}
		}
	}
	&.null-instagram-feed{
		.instagram-pics{
			padding:0;
			margin:0 -4px;
			list-style:none;
			overflow:hidden;
			li{
				float:left;
				width:33.33%;
				padding:4px;
				a{
					display:block;
					overflow:hidden;
					position:relative;
					&:before{
						content:'';
						position:absolute;
						width:100%;
						height:100%;
						top:0;
						left:0;
						background:$colorPrimary;
						@include transition;
						transform:scale(0,0);
						-webkit-transform:scale(0,0);
						opacity:0;
					}
					&:after{
						content:'+';
						font-size:40px;
						color:#fff;
						position:absolute;
						top:50%;
						left:50%;
						@include transition;
						transform:translate(-50%, -50%) scale(0,0);
						-webkit-transform:translate(-50%, -50%) scale(0,0);
						opacity:0;
					}
					&:hover{
						&:before{
							transform:scale(1,1);
							-webkit-transform:scale(1,1);
							opacity:0.7;
						}
						&:after{
							transform:translate(-50%, -50%) scale(1,1);
							-webkit-transform:translate(-50%, -50%) scale(1,1);		
							opacity:1;	
						}
					}
				}
			}
		}
	}
	&.widget_calendar{
		.calendar_wrap{
			table{
				width:100%;
				border:1px solid $main_line_color;    
				max-width: 100%;
				table-layout: fixed;
				position:relative;
				caption{
					background:$btn4_bg_color;
					margin:0;
					color:#fff;
					text-transform:uppercase;
					text-align:center;
					padding:8px 0;
				}
				tr{
					td, th{
					    border: none;
						padding: 5px 10px;
						text-align: center;
					}
					th{
						font-size:14px;
						color:$main_title_color;
						padding-top:9px;
					}
					td{
						&:hover{
							background:$colorPrimary; color:#fff;
							a{color:#fff;}
						}
						&.pad{background:none!important;}
					}
					#prev{
						background:none;
						a{
							position:absolute;
							top:0;
							left:0;
							width:40px;
							height:40px;
							font-size:0;
							color:$colorPrimary;
							line-height:49px;
							&:before{
								@include font-awesome(\f137, 14px);
							}
						}
					}
					#next{
						background:none;
						a{
							position:absolute;
							top:0;
							right:0;
							width:40px;
							height:40px;
							font-size:0;
							color:$colorPrimary;
							line-height:49px;
							&:before{
								@include font-awesome(\f138, 14px);
							}
						}
					}
				}
			}
		}
	}
	&.widget_emads{
		.effect_hover_image{
			a{
				display:block;
				line-height:0;
				@extend %effect_image;
			}
		}
	}
	&.widget_text select {width:100%;}
}