
.notice_guide_page.update-nag{
  display: inherit;
}

.wpdancebootstrap_walkthrough_page .guide_card {
  padding-left: 20px;
  position: relative;
  padding: .7em 2em 1em;
  /* min-width: 255px; */
  /* max-width: 520px; */
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
}

.wpdancebootstrap_walkthrough_page .guide_card .dashicons {
  height: 100%;
}

.wpdancebootstrap_walkthrough_page .guide_card.hide-done {
  display: none;
}

.wpdancebootstrap_walkthrough_page .guide_card .inside.hide {
  display: none;
}

.wpdancebootstrap_walkthrough_page .guide_card .hndler {
  cursor: pointer;
  padding-right: 40px;
  position: relative;
}
.wpdancebootstrap_walkthrough_page .guide_card .hndler:after {
  right: 0;
  font: 400 30px/1 dashicons;
  speak: none;
  display: inline-block;
  padding: 0;
  top: -5px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none!important;
  content: "\f140";
}

.wpdancebootstrap_walkthrough_page .guide_card .hndler.open:after {
  content: '\f142';
}


.wpdancebootstrap_walkthrough_page .main-icon.dashicons {
  float: left;
  font-size: 55px;
  margin-right: 40px;
  color: #00a0d2;
}

.wpdancebootstrap_walkthrough_page .main-icon.dashicons.dashicons-yes {
  color: green;
}

.wpdancebootstrap_walkthrough_page .main-icon.dashicons.dashicons-no {
  color: red;
}

.wpdancebootstrap_walkthrough_page .main-icon.dashicons.dashicons-warning {
  color: orange;
}

.wpdancebootstrap_walkthrough_page .main-instruction {
  color: red;
}

.wpdancebootstrap_walkthrough_page li {
  margin-left: 20px;
  list-style-type: disc;
}

.wpdancebootstrap_walkthrough_page .rating {
  color: #fec42d;
}

.wpdancebootstrap_walkthrough_page .notice{
  position: relative;
}

.wpdancebootstrap_walkthrough_page .install-theme-guide-page-site-name{
  position: absolute;
  background: deeppink;
  color: yellow;
  font-weight: bold;
  top: -6px;
  right: 0;
}


/* ====================================================================== */
/* Style the buttons that are used to open and close the accordion panel */
div.accordion {
   /*  background-color: #eee;
   color: #444;
   padding: 18px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;*/
   transition: 0.4s; 
   cursor: pointer;
 }

 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 div.accordion.active, div.accordion:hover {
  /* background-color: #ddd; */
}

/* Style the accordion panel. Note: hidden by default */
div.accordion_panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.accordion_panel.show {
  display: block;
}


div.accordion_panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.accordion_panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}


div.accordion .icon_plus:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-right: 10%;
}

div.accordion.active .icon_plus:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}