
$font-custom: "Poppins",sans-serif;
$var_space: 20px!default;
$rounded_corner:0;
$colorPrimary: #3478e3 !default;
$color-212121: #212121;
$colo-555: #555;
$colo-424242: #424242;
$colo-e0e0e0:  #e0e0e0;
$colo-e64a19: #e64a19;
$colo-80deea: #80deea;
$colo-d7d7d7: #d7d7d7;
$colo-a1a1a1: #a1a1a1;
$colo-bdbdbd: #bdbdbd;
$colo-737373: #737373;
$colo-757575: #757575;
$colo-7d7d7d: #7d7d7d;
$colo-898989: #898989;
$colo-282828: #282828 !default;
$header_bg_color1: #fff !default;
$header_bg_color2: #23282d !default;
$header_bg_color3: #3478e3 !default;
$header_bg_cart_color: #fff !default;
$header_text_color1: #3f3f3f !default; 
$header_text_color2: #fff !default; 
$header_text_color3: #282828 !default; 
$dropmenu_bg_color: #ffffff !default;
$menu_text_color: #3f3f3f !default; 
$menu_hover_text_color: #3478e3 !default;
$dropmenu_text_color:#363636 !default;
$main_bg_color: #ffffff !default;
$main_text_color: #7f7e7e !default; 
$main_button_color: #fff !default;
$main_title_color: #3f3f3f !default;
$main_title_color_h3:#337ab7 !default; 
$main_title_color_blog:#f7eee4 !default; 
$main_title_color_breadcrumb:#ffffff !default; 
$main_bg3_color: #3f3f3f !default;
$main_name_color: #3f3f3f !default;
$main_text2_color: #3f3f3f !default;
$main_line_color: #dee2e5 !default;
$footer_bg_color: #23282d !default; 
$footer_bg2_color: #1a1e22 !default;
$footer_bg3_color: #f9f9f9 !default;
$footer_line_color: #353d44 !default;
$footer_text_color: #fff !default;
$footer_text2_color: #9e9e9e !default; 
$footer_text3_color: #3f3f3f !default; 
$footer_text4_color: #a3a3a3 !default; 
$btn1_bg_color: #dee2e5 !default;
$btn1_text_color: #fff !default;
$btn5_add_button: #616161 !default;
$btn2_bg_color: #303f9f !default;
$btn2_text_color: #000 !default;
$btn4_bg_color: #23282d !default;
